  <template>
  <div class="content">
    <div class="row">
      <h1>
        Add New Bug/Feature Request:
      </h1>
      <form class="form">
        <div class="form-group col-sm-6">
          <strong>Type<br /></strong>
          <label class="radio-inline btn btn-default" :class="{ active: bug.type == 'bug' }">
            <input type="radio" v-model="bug.type" value="bug">Bug</input>
          </label>
          <label class="radio-inline btn btn-default" :class="{ active: bug.type == 'feature' }">
            <input type="radio" v-model="bug.type" value="feature">New Feature</input>
          </label>
        </div>
        <div class="form-group col-sm-6">
          <strong>Priority<br /></strong>
          <label class="radio-inline btn btn-default" :class="{ active: bug.priority == 'low' }">
            <input type="radio" v-model="bug.priority" value="low">Low</input>
          </label>
          <label class="radio-inline btn btn-default" :class="{ active: bug.priority == 'medium' }">
            <input type="radio" v-model="bug.priority" value="medium">Medium</input>
          </label>
          <label class="radio-inline btn btn-default" :class="{ active: bug.priority == 'high' }">
            <input type="radio" v-model="bug.priority" value="high">High</input>
          </label>
        </div>
        <div class="form-group">
          <label class="control-label">Description</label>
          <textarea v-model="bug.description" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label">Any Additonal Notes?</label>
          <input type="text" class="form-control" v-model="bug.notes">
        </div>
        <p>Submitted By: {{bug.submittedBy}} | Open Date: {{format(bug.openDate, 'MM.DD.YYYY')}}</p>

        <button class="btn btn-success pull-right" @click.prevent="addBug" ><i class="fa fa-floppy-o"></i> Save Bug</button>
        <button class="btn btn-default pull-right" @click.prevent="cancel" >Cancel</button>

        <br>&nbsp;<br>&nbsp;<br>
        <hr>


        <h1>Existing Bugs:</h1>
        <!--<autocomplete :options="allBugs" :clearValueAfterSelect="true" @select="onBugSelect"></autocomplete>-->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span><i class="fa fa-bug text-danger"></i> Open Bugs | <i class="fa fa-rocket"></i> Feature Requests</span>
            </h3>
          </div>
          <span href="#" class="list-group-item" v-for="bug in openBugs">
            <i class="fa fa-bug text-danger" v-if="bug.type == 'bug'"></i>
            <i class="fa fa-rocket" v-if="bug.type == 'feature'"></i>
            <i class="fa fa-circle text-success" v-if="bug.priority == 'low'"></i>
            <i class="fa fa-circle text-warning" v-if="bug.priority == 'medium'"></i>
            <i class="fa fa-circle text-danger" v-if="bug.priority == 'high'"></i>
            <strong>Opened Date:</strong> {{format(bug.openDate, 'MM.DD.YYYY')}}
            <br>
            <strong>Description:</strong> {{bug.description}}<br>
            <strong>Additional Notes:</strong> {{bug.notes}}
          </span>
        </div><!-- End OpenBugs .panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <span>Closed Bugs | Feature Requests</span>
            </h3>
          </div>
          <span href="#" class="list-group-item" v-for="bug in closedBugs">
            <i class="fa fa-bug text-danger" v-if="bug.type == 'bug'"></i>
            <i class="fa fa-rocket" v-if="bug.type == 'feature'"></i>
            <i class="fa fa-circle text-success" v-if="bug.priority == 'low'"></i>
            <i class="fa fa-circle text-warning" v-if="bug.priority == 'medium'"></i>
            <i class="fa fa-circle text-danger" v-if="bug.priority == 'high'"></i>
            <strong>Opened Date:</strong> {{format(bug.openDate, 'MM.DD.YYYY')}}
            <strong>Closed Date:</strong> {{format(bug.closedDate, 'MM.DD.YYYY')}}
            <strong>Closed By:</strong> {{bug.closedBy}}
            <br>
            <strong>Description:</strong> {{bug.description}}<br>
            <strong>Additional Notes:</strong> {{bug.notes}}
          </span>
        </div><!-- End ClosedBugs .panel -->


      </form>
    </div>
    <hr>


  </div><!-- // .content -->

</template>

<script>
import Autocomplete from './mycomponents/autocomplete.vue'
import { format } from 'date-fns'
import { getTime } from 'date-fns'

export default {
  name: 'bugAdd',
  components: {
    Autocomplete,
    format,
    getTime
  },
  computed: {
    showAlertClass: function() {
      return this.$store.showAlertClass
    },
    showAlertMsg: function() {
      return this.$store.showAlertMsg
    },
    showAlert: function() {
      return this.$store.showAlert
    },
    openBugs: function () {
      let openBugs = []
      this.allBugs.forEach(function(bug){
        if (bug.closed == false){
          openBugs.push(bug)
        }
      })
      return openBugs
    },
    closedBugs: function () {
      let closedBugs = []
      this.allBugs.forEach(function(bug){
        if (bug.closed == true){
          closedBugs.push(bug)
        }
      })
      return closedBugs
    }
  },
  data () {
    return {
      bug: {
        type: "",
        priority: "",
        notes: "",
        description: "",
        openDate: "",
        submittedBy: "",
        closed: false
      },
      allBugs: []
    }
  },
  methods: {
    cancel: function() {
      this.$router.go(-1)
    },
    addBug: function () {
      this.$http.post('/api/bugs', this.bug)
      .then(function (res) {
        this.$store.showAlertMsg = `This ${this.bug.type} was added successfully`
        this.$store.showAlert = true
        this.bug.type = ""
        this.bug.priority = ""
        this.bug.notes = ""
        this.bug.description = ""
        let self = this
        setTimeout(function(){
          self.$store.showAlertMsg = ""
          self.$store.showAlert = false
        }, 3000)
        this.getAllBugs()
      })
    },
    getAllBugs: function () {
      this.$http.get('/api/bugs')
      .then(function(res) {
        this.allBugs = res.body
      })
    },
    getInitalVals: function() {
      //console.log("Setting intial values")
      //console.log(`Name: ${this.$store.user.fname} ${this.$store.user.lname}`)
      this.bug.submittedBy = `${this.$store.user.fname} ${this.$store.user.lname}`
      this.bug.openDate = getTime(Date.now())
    },
    format: function (...args) {
      return format(...args);
    },
    cancel: function () {
      this.$router.go(-1)
    }
  },
  created () {
    this.getAllBugs()
    this.getInitalVals()

    //Make sure to remove any alerts triggered by other pages...
    if (this.showAlert == true){
      let self = this
      setTimeout(function(){
        self.$store.showAlertMsg = ""
        self.$store.showAlert = false
      }, 3500)
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.btn {
    margin-left: 5px;
}
.form-group {
  padding-left: 0px;
}
</style>
