<template>

<div class="content">
  <div class="row">
    <h4 class="modal-title">
      Add Buisness Process
    </h4>

    <div class="form-group col-sm-12">
      <label>Process Name</label>
      <input type="text" class="form-control" v-model="bp.name">
    </div>
    <div class="form-group col-sm-12">
      <label>Description</label>
      <input type="text" class="form-control" v-model="bp.description">
    </div>
    <div class="form-group col-sm-12">
      <strong>Frequency</strong><br />
      <label class="radio-inline btn btn-default" :class="{ active: bp.frequency == 'On-Demand' }">
        <input type="radio" v-model="bp.frequency" value="On-Demand">On-Demand</input>
      </label>
      <label class="radio-inline btn btn-default" :class="{ active: bp.frequency == 'Scheduled' }">
        <input type="radio" v-model="bp.frequency" value="Scheduled">Scheduled</input>
      </label>
      <label class="radio-inline btn btn-default" :class="{ active: bp.frequency == 'Dailey' }">
        <input type="radio" v-model="bp.frequency" value="Dailey">Dailey</input>
      </label>
      <label class="radio-inline btn btn-default" :class="{ active: bp.frequency == 'Weekly' }">
        <input type="radio" v-model="bp.frequency" value="Weekly">Weekly</input>
      </label>
      <label class="radio-inline btn btn-default" :class="{ active: bp.frequency == 'Monthly' }">
        <input type="radio" v-model="bp.frequency" value="Monthly">Monthly</input>
      </label>
      <label class="radio-inline btn btn-default" :class="{ active: bp.frequency == 'Quarterly' }">
        <input type="radio" v-model="bp.frequency" value="Quarterly">Quarterly</input>
      </label>
      <label class="radio-inline btn btn-default" :class="{ active: bp.frequency == 'Annual' }">
        <input type="radio" v-model="bp.frequency" value="Annual">Annual</input>
      </label>
    </div>
    <div class="form-group col-sm-12">
      <label>Frequency Notes</label>
      <input type="text" class="form-control" v-model="bp.frequencyNotes">
    </div>
      <div class="form-group col-sm-12">
      <strong>Max Allowed Downtime<br /></strong>
      <label class="radio-inline btn btn-default btn-sm btn-low" :class="{ active: bp.maxAllowedDowntime == 'Nonessential - 30 days' }">
        <input type="radio" v-model="bp.maxAllowedDowntime" value="Nonessential - 30 days">Nonessential (30 Days)</input>
      </label>
      <label class="radio-inline btn btn-default btn-sm btn-lowmed" :class="{ active: bp.maxAllowedDowntime == 'Normal - 7 days' }">
        <input type="radio" v-model="bp.maxAllowedDowntime" value="Normal - 7 days">Normal (7 Days)</input>
      </label>
      <label class="radio-inline btn btn-default btn-sm btn-med" :class="{ active: bp.maxAllowedDowntime == 'Important - 72 Hours' }">
        <input type="radio" v-model="bp.maxAllowedDowntime" value="Important - 72 Hours">Important (72 Hrs)</input>
      </label>
      <label class="radio-inline btn btn-default btn-sm btn-medhigh" :class="{ active: bp.maxAllowedDowntime == 'Urgent - 24 Hours' }">
        <input type="radio" v-model="bp.maxAllowedDowntime" value="Urgent - 24 Hours">Urgent (24 Hrs)</input>
      </label>
      <label class="radio-inline btn btn-default btn-sm btn-high" :class="{ active: bp.maxAllowedDowntime == 'Critical - Minutes to Hours' }">
        <input type="radio" v-model="bp.maxAllowedDowntime" value="Critical - Minutes to Hours">Critical (Mins to Hrs)</input>
      </label>
    </div>

    <div class="form-group col-sm-6">
      <strong>Reputation Risk<br /></strong>
      <label class="radio-inline btn btn-default btn-low" :class="{ active: bp.riskReputation == 'low' }">
        <input type="radio" v-model="bp.riskReputation" value="low">Low</input>
      </label>
      <label class="radio-inline btn btn-default btn-med" :class="{ active: bp.riskReputation == 'medium' }">
        <input type="radio" v-model="bp.riskReputation" value="medium">Medium</input>
      </label>
      <label class="radio-inline btn btn-default btn-high" :class="{ active: bp.riskReputation == 'high' }">
        <input type="radio" v-model="bp.riskReputation" value="high">High</input>
      </label>
    </div>

    <div class="form-group col-sm-6">
      <strong>Legal Risk<br /></strong>
      <label class="radio-inline btn btn-default btn-low" :class="{ active: bp.riskLegal == 'low' }">
        <input type="radio" v-model="bp.riskLegal" value="low">Low</input>
      </label>
      <label class="radio-inline btn btn-default btn-med" :class="{ active: bp.riskLegal == 'medium' }">
        <input type="radio" v-model="bp.riskLegal" value="medium">Medium</input>
      </label>
      <label class="radio-inline btn btn-default btn-high" :class="{ active: bp.riskLegal == 'high' }">
        <input type="radio" v-model="bp.riskLegal" value="high">High</input>
      </label>
    </div>

    <div class="form-group col-sm-6">
      <strong>Financial Risk<br /></strong>
      <label class="radio-inline btn btn-default btn-low" :class="{ active: bp.riskFinancial == 'low' }">
        <input type="radio" v-model="bp.riskFinancial" value="low">Low</input>
      </label>
      <label class="radio-inline btn btn-default btn-med" :class="{ active: bp.riskFinancial == 'medium' }">
        <input type="radio" v-model="bp.riskFinancial" value="medium">Medium</input>
      </label>
      <label class="radio-inline btn btn-default btn-high" :class="{ active: bp.riskFinancial == 'high' }">
        <input type="radio" v-model="bp.riskFinancial" value="high">High</input>
      </label>
    </div>

    <div class="form-group col-sm-6">
      <strong>Operational Risk<br /></strong>
      <label class="radio-inline btn btn-default btn-low" :class="{ active: bp.riskOperational == 'low' }">
        <input type="radio" v-model="bp.riskOperational" value="low">Low</input>
      </label>
      <label class="radio-inline btn btn-default btn-med" :class="{ active: bp.riskOperational == 'medium' }">
        <input type="radio" v-model="bp.riskOperational" value="medium">Medium</input>
      </label>
      <label class="radio-inline btn btn-default btn-high" :class="{ active: bp.riskOperational == 'high' }">
        <input type="radio" v-model="bp.riskOperational" value="high">High</input>
      </label>
    </div>


  </div><!-- End .row -->
  <hr>
  <button type="button" class="btn btn-primary pull-right save" @click.prevent="addBp"><i class="fa fa-save"></i> Add Process</button>
  <button type="button" class="btn btn-default pull-right" @click="$router.go(-1)">Cancel</button>
</div><!-- End .content -->

</template>

<script>
export default {
  name: 'businessProcess',
  components: {
  },
  data () {
    return {
      bp: {
        name: "",
        description: "",
        frequency: "",
        frequencyNotes: "",
        maxAllowedDowntime: "",
        riskReputation: "",
        riskLegal: "",
        riskOperational: "",
        riskFinancial: ""
      }
    }
  },
  methods: {
    addBp: function () {
      this.$http.post('/api/bprocess', this.bp)
      .then(function(res) {
        this.$store.showBpAlertMsg = "New Business Process Added Successfully"
        this.$store.bpShowAlert = true
        this.$router.push('business-processes')
        let self = this
        setTimeout(function(){
          self.$store.showAlertMsg = ""
          self.$store.showAlert = false
        }, 3000)
      })
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.btn-high {
  color: #b10026;
}
.btn-medhigh {
  color: #e31a1c;
}
.btn-med {
  color: #fc4e2a;
}
.btn-lowmed {
  color: #fd8d3c;
}
.btn-low {
  color: #feb24c;
}
button.save {
  margin-left: 4px;
  margin-right: 5px;
}
</style>
