<template>
    <div id="bps">
      <h1>
        <span>Business Processes</span>
      </h1>
      <div>
        <button class="btn btn-primary pull-right" @click.prevent="addBP"><i class="fa fa-plus"></i> Add New Process</button>
        <div class="clear-fix"><br/>&nbsp;<br/></div>
      </div>
      <autocomplete :options="bProcesses" @select="onOptionSelect"></autocomplete>

      <ul class="list-group">

        <li v-for="bps in bProcesses"
            class="list-group-item"
            @mouseover="addActive(bps._id)"
            @mouseout="removeActive(bps._id)"
            :id="bps._id">
              <router-link :to="{ name: 'business-process', params: { bpid: bps._id } }">
                {{bps.name}}
              </router-link>
        </li>

      </ul>

      <alert v-model="showAlert" placement="top" :type="showAlertClass" width="400px" dismissable>
        <span class="icon-ok-circled alert-icon-float-left"></span>
        <p>{{showAlertMsg}}</p>
      </alert>
    </div>
</template>

<script>
import Autocomplete from './mycomponents/autocomplete.vue'
import {alert} from 'vue-strap'

export default {
  name: 'business-processes',
  components: {
    Autocomplete,
    alert
  },
  data () {
    return {
      bProcesses: [],
    }
  },
  computed : {
    showAlertMsg: function() {
      return this.$store.showAlertMsg
    },
    showAlert: function() {
      return this.$store.showAlert
    },
    showAlertClass: function() {
      return this.$store.showAlertClass
    }
  },
  methods: {
    addActive: function(id){
      let thisLI = document.getElementById(id)
      thisLI.classList.add('active')
    },
    removeActive: function(id){
      let thisLI = document.getElementById(id)
      thisLI.classList.remove('active')
    },
    getBProcesses: function () {
      this.$store.loading = true
      this.$http.get('/api/bprocess')
      .then(function(res) {
        let rtnProcesses = res.body
        rtnProcesses.sort(function(a,b){
          if ( a.maxAllowedDowntime < b.maxAllowedDowntime )
              return -1;
          if ( a.maxAllowedDowntime > b.maxAllowedDowntime )
              return 1;
          return 0;
        })
        this.bProcesses = rtnProcesses
        this.$store.loading = false
      })
    },
    onOptionSelect: function (value) {
      console.log(value)
      this.$router.push({name: 'business-process', params: { bpid: value._id}})
    },
    addBP: function () {
      this.$router.push({name: 'business-processAdd'})
    }
  },
  created: function () {
    this.getBProcesses()
    if (this.showAlert == true){
      console.log("show alert is true... calling timeout func")
      let myThis = this
      setTimeout(function(){
        console.log("anonymous func called after 3000ms")
        myThis.$store.showAlert = false
        myThis.$store.showAlertMsg = ""
        myThis.$store.showAlertClass = "success"
      }, 3000)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

li.active a {
  color: #FFF;
  text-decoration: none;
}


</style>
