<template>
<div class="businessProcess">
  <alert v-model="showAlert" placement="top" duration="3000" v-bind:type="showAlertClass" width="350px" dismissable>
    <span class="icon-ok-circled alert-icon-float-left"></span>
    <p>{{showAlertMsg}}</p>
  </alert>

<div class="content" v-if="bp">

  <div class="row">
    <form class="form-horizontal">
      <h1>Business Process Name</h1>
      <div class="form-group col-sm-12">
        <input type="text" class="form-control input-lg" v-model="bp.name">
      </div>
      <div class="form-group col-sm-12">
        <label class="control-label">Description</label>
        <textarea class="form-control" v-model="bp.description"></textarea>
      </div>
      <div class="form-group col-sm-12">
        <strong>Frequency</strong><br />
        <label class="radio-inline btn btn-default" :class="{ active: bp.frequency == 'On-Demand' }">
          <input type="radio" v-model="bp.frequency" value="On-Demand">On-Demand</input>
        </label>
        <label class="radio-inline btn btn-default" :class="{ active: bp.frequency == 'Scheduled' }">
          <input type="radio" v-model="bp.frequency" value="Scheduled">Scheduled</input>
        </label>
        <label class="radio-inline btn btn-default" :class="{ active: bp.frequency == 'Dailey' }">
          <input type="radio" v-model="bp.frequency" value="Dailey">Dailey</input>
        </label>
        <label class="radio-inline btn btn-default" :class="{ active: bp.frequency == 'Weekly' }">
          <input type="radio" v-model="bp.frequency" value="Weekly">Weekly</input>
        </label>
        <label class="radio-inline btn btn-default" :class="{ active: bp.frequency == 'Monthly' }">
          <input type="radio" v-model="bp.frequency" value="Monthly">Monthly</input>
        </label>
        <label class="radio-inline btn btn-default" :class="{ active: bp.frequency == 'Quarterly' }">
          <input type="radio" v-model="bp.frequency" value="Quarterly">Quarterly</input>
        </label>
        <label class="radio-inline btn btn-default" :class="{ active: bp.frequency == 'Annual' }">
          <input type="radio" v-model="bp.frequency" value="Annual">Annual</input>
        </label>
      </div>
      <div class="form-group col-sm-12">
        <label class="control-label">Frequency Notes</label>
        <input type="text" class="form-control" v-model="bp.frequencyNotes">
      </div>

      <h4>This process belongs to these departments:</h4>
      <ul class="list-group" id="contactsList">
        <li class="list-group-item" v-for="dept in bp.department">
          {{dept.name}}
          <button class="btn btn-xs btn-danger pull-right" @click.prevent="showRemoveDepConfirm(dept)">
            <i class="fa fa-close"></i>
          </button>
        </li>
      </ul>
      <div v-if="bp.department.length < 1">
        <i>This process is not associated with any departments. To add it to a specific department go to any Department and select the 'Add Process' button.</i>
        <hr>
      </div>

      <div class="form-group col-sm-12">
        <strong>Max Allowed Downtime<br /></strong>
        <label class="radio-inline btn btn-default btn-sm btn-low" :class="{ active: bp.maxAllowedDowntime == 'Nonessential - 30 days' }">
          <input type="radio" v-model="bp.maxAllowedDowntime" value="Nonessential - 30 days">Nonessential (30Dys)</input>
        </label>
        <label class="radio-inline btn btn-default btn-sm btn-lowmed" :class="{ active: bp.maxAllowedDowntime == 'Normal - 7 days' }">
          <input type="radio" v-model="bp.maxAllowedDowntime" value="Normal - 7 days">Normal (7Dys)</input>
        </label>
        <label class="radio-inline btn btn-default btn-sm btn-med" :class="{ active: bp.maxAllowedDowntime == 'Important - 72 Hours' }">
          <input type="radio" v-model="bp.maxAllowedDowntime" value="Important - 72 Hours">Important (72Hrs)</input>
        </label>
        <label class="radio-inline btn btn-default btn-sm btn-medhigh" :class="{ active: bp.maxAllowedDowntime == 'Urgent - 24 Hours' }">
          <input type="radio" v-model="bp.maxAllowedDowntime" value="Urgent - 24 Hours">Urgent (2Hrs)</input>
        </label>
        <label class="radio-inline btn btn-default btn-sm btn-high" :class="{ active: bp.maxAllowedDowntime == 'Critical - Minutes to Hours' }">
          <input type="radio" v-model="bp.maxAllowedDowntime" value="Critical - Minutes to Hours">Critical (Mins-Hrs)</input>
        </label>
      </div>

      <div class="form-group col-sm-6">
        <strong>Reputation Risk<br /></strong>
        <label class="radio-inline btn btn-default btn-low" :class="{ active: bp.riskReputation == 'low' }">
          <input type="radio" v-model="bp.riskReputation" value="low">Low</input>
        </label>
        <label class="radio-inline btn btn-default btn-med" :class="{ active: bp.riskReputation == 'medium' }">
          <input type="radio" v-model="bp.riskReputation" value="medium">Medium</input>
        </label>
        <label class="radio-inline btn btn-default btn-high" :class="{ active: bp.riskReputation == 'high' }">
          <input type="radio" v-model="bp.riskReputation" value="high">High</input>
        </label>
      </div>

      <div class="form-group col-sm-6">
        <strong>Legal Risk<br /></strong>
        <label class="radio-inline btn btn-default btn-low" :class="{ active: bp.riskLegal == 'low' }">
          <input type="radio" v-model="bp.riskLegal" value="low">Low</input>
        </label>
        <label class="radio-inline btn btn-default btn-med" :class="{ active: bp.riskLegal == 'medium' }">
          <input type="radio" v-model="bp.riskLegal" value="medium">Medium</input>
        </label>
        <label class="radio-inline btn btn-default btn-high" :class="{ active: bp.riskLegal == 'high' }">
          <input type="radio" v-model="bp.riskLegal" value="high">High</input>
        </label>
      </div>

      <div class="form-group col-sm-6">
        <strong>Financial Risk<br /></strong>
        <label class="radio-inline btn btn-default btn-low" :class="{ active: bp.riskFinancial == 'low' }">
          <input type="radio" v-model="bp.riskFinancial" value="low">Low</input>
        </label>
        <label class="radio-inline btn btn-default btn-med" :class="{ active: bp.riskFinancial == 'medium' }">
          <input type="radio" v-model="bp.riskFinancial" value="medium">Medium</input>
        </label>
        <label class="radio-inline btn btn-default btn-high" :class="{ active: bp.riskFinancial == 'high' }">
          <input type="radio" v-model="bp.riskFinancial" value="high">High</input>
        </label>
      </div>

      <div class="form-group col-sm-6">
        <strong>Operational Risk<br /></strong>
        <label class="radio-inline btn btn-default btn-low" :class="{ active: bp.riskOperational == 'low' }">
          <input type="radio" v-model="bp.riskOperational" value="low">Low</input>
        </label>
        <label class="radio-inline btn btn-default btn-med" :class="{ active: bp.riskOperational == 'medium' }">
          <input type="radio" v-model="bp.riskOperational" value="medium">Medium</input>
        </label>
        <label class="radio-inline btn btn-default btn-high" :class="{ active: bp.riskOperational == 'high' }">
          <input type="radio" v-model="bp.riskOperational" value="high">High</input>
        </label>
      </div>

      <h4>
        <span>Required Resources</span><br/><small>These are the resources that this business process relies on.</small>
      </h4>


      <ul class="list-group" id="dependentResourceList">
        <li class="list-group-item" v-for="dependent in dependents">
          {{dependent.name}} <a class="btn btn-danger btn-xs pull-right" v-on:click="showRemoveResourceConfirm(dependent)"><i class="fa fa-close"></i></a>
        </li>
      </ul>

      <div v-if="dependents.length < 1">
        <i>No dependant resources selected yet ...</i>
      </div>
      <attachResource @attach="attachSelected"/>

      <hr>
      <button class="btn btn-success pull-right" @click.prevent="saveBp" ><i class="fa fa-floppy-o"></i>Save</button>
      <button class="btn btn-danger pull-left" @click.prevent="deleteBp" ><i class="fa fa-trash"></i>Delete Process</button>

    </form>


  </div><!-- End .row -->


  <modal v-model="showRemoveDeptModal" effect="fade">
    <!-- custom header -->
    <div slot="modal-header" class="modal-header">
      <h4 class="modal-title">
        Remove this Department ?
      </h4>
    </div>
    <div slot="modal-body" class="modal-body">
      <h4>Are you sure you want to remove '{{deptToRemove.name}}' from the {{bp.name}} process?</h4>


    </div><!-- // End #frmAddContact -->
    <!-- custom buttons -->
    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-default" @click="showRemoveDeptModal = false">Cancel</button>
      <button type="button" class="btn btn-warning" @click="removeDept(deptToRemove._id)"><i class="fa fa-trash"></i> Remove</button>
    </div>
  </modal><!-- End deleteVenderConfirm -->


  <modal v-model="showRemoveResourceModal" effect="fade">
    <!-- custom header -->
    <div slot="modal-header" class="modal-header">
      <h4 class="modal-title">
        Remove this resource?
      </h4>
    </div>
    <div slot="modal-body" class="modal-body">
      <h4>Are you sure you want to remove '{{resourceToRemove.name}}' from the this process?</h4>
    </div><!-- // End #frmAddContact -->
    <!-- custom buttons -->
    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-default" @click="showRemoveResourceModal = false">Cancel</button>
      <button type="button" class="btn btn-warning" @click="removeResource(resourceToRemove._id)"><i class="fa fa-trash"></i> Remove</button>
    </div>
  </modal><!-- End deleteVenderConfirm -->






</div><!-- // .content -->
</div><!-- // .businessProcess -->
</template>

<script>
import Autocomplete from './mycomponents/autocomplete.vue'
import attachResource from './mycomponents/attachResource.vue'
import { modal } from 'vue-strap'
import { alert } from 'vue-strap'

export default {
  name: 'businessProcess',
  components: {
    Autocomplete,
    attachResource,
    modal,
    alert
  },
  computed: {
    showAlertClass: function() {
      return this.$store.showAlertClass
    },
    showAlertMsg: function() {
      return this.$store.showAlertMsg
    },
    showAlert: function() {
      return this.$store.showAlert
    },
    dependents: function() {
      return this.selectedDependants
    }
  },
  data () {
    return {
      showResourcesModal: false,
      bp: null,
      newResource: {
        name: ""
      },
      deptToRemove: {},
      resourceToRemove: {},
      showRemoveDeptModal: false,
      showRemoveResourceModal: false,
      selectedDependants: [],
      allResources : []
    }
  },
  methods: {
    getBP: function(){
      let bpid = this.$route.params.bpid
      this.$store.loading = true
      this.$http.get(`/api/bprocess/${bpid}`)
      .then(function(res) {
        this.bp = res.body
        let self = this
        this.bp.requiredResources.forEach(function(dependent){
          self.selectedDependants.push(dependent)
        })
        this.$store.loading = false
      })
      .catch(function(err){
        console.log(`Woops, Error: ${err}`)
        this.error = err
      })
    },
    onResourceSelect: function(contact) {
      this.vender.contacts.push(contact._id)
      this.selectedContacts.push(contact)
    },
    addNewResource: function () {
      let from = {
        route: this.$route.path,
        name: this.bp.name,
        type: "business-process",
        id: this.bp._id
      }
      this.$store.from = from
      this.$router.push({ path: '/resourceAdd', query: { from: true}})

      //route to resourceAdd send along 'from' obj
      //resourceAdd cn check for from at 'created'
      // if 'from' is present thenupon saving route back to the from.route...
      // also save the new resource as a dependant of the calling BP
    },
    onDependantSelect: function(resource) {
      this.selectedDependants.push(resource)
      this.bp.requiredResources.push({ "_id" :resource._id })
    },
    saveBp: function () {
      let deptIds = []
      let resourceIds = []

      deptIds = this.bp.department.map(function(dept) {  //de-populate the department array
        return dept._id;
      })
      this.bp.department = deptIds

      resourceIds = this.bp.requiredResources.map(function(resource) {  //de-populate the requiredResources array
        return resource._id;
      })
      this.bp.requiredResources = resourceIds

      this.$http.put(`/api/bprocess/${this.bp._id}`, this.bp)
      .then(function (res) {
        this.$store.showAlertClass = "success"
        this.$store.showAlertMsg = "The Business Process was successfully updated."
        this.$store.showAlert = true
        let self = this
        setTimeout(function(){
          self.$store.showAlertMsg = ""
          self.$store.showAlert = false
        }, 3000)
      })
    },
    deleteBp: function () {
      let bpid = this.$route.params.bpid
      let self = this
      this.$swal({
        title: 'Are you sure?',
        text: "You won't be able to revert this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then(function () {
        self.$http.delete(`/api/bprocess/${bpid}`)
        .then(function(res){
          console.log(res)
          self.$swal(
            'Deleted!',
            'Your file has been deleted.',
            'success'
          )
          self.$router.go(-1)
        })
      })
    },
    showRemoveDepConfirm: function (dept) {
      this.deptToRemove = dept
      this.showRemoveDeptModal = true
    },
    showRemoveResourceConfirm: function (dependent) {
      this.resourceToRemove = dependent
      this.showRemoveResourceModal = true
    },
    removeDept: function (deptId) {
      this.showRemoveDeptModal = false
      let obj = this.bp.department.find(function (item){
        return item._id == deptId
      })
      let index = this.bp.department.indexOf(obj)
      this.bp.department.splice(index, 1)

    },
    removeResource: function (resourceId) {
      this.showRemoveResourceModal = false
      //first remove the resource from selectedDependants
      let obj = this.selectedDependants.find(function (item){
        return item._id == resourceId
      })
      let index = this.selectedDependants.indexOf(obj)
      this.selectedDependants.splice(index, 1)
      //next remove it from bp.requiredResources
      let obj2 = this.bp.requiredResources.find(function (item){
        return item._id == resourceId
      })
      let index2 = this.bp.requiredResources.indexOf(obj2)
      this.bp.requiredResources.splice(index2, 1)

    },
    attachSelected (val) {
      console.log("Resource Attched")
      console.log(val)
      let attachedResource = {
        name: val.name,
        description: val.description,
        _id: val._id
      }
      this.selectedDependants.push(attachedResource)
      this.bp.requiredResources.push(attachedResource)
    }
  },
  created () {
    this.getBP()
    //this.getAllResources()

    //Make sure to remove any alerts triggered by other pages...
    if (this.showAlert == true){
      let self = this
      setTimeout(function(){
        self.$store.showAlertMsg = ""
        self.$store.showAlert = false
      }, 3500)
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.btn-high {
  color: #b10026;
}
.btn-medhigh {
  color: #e31a1c;
}
.btn-med {
  color: #fc4e2a;
}
.btn-lowmed {
  color: #fd8d3c;
}
.btn-low {
  color: #feb24c;
}
button.save {
  margin-left: 4px;
  margin-right: 5px;
}
</style>
