<template>
  <div>
    <!-- spinner and css by http://tobiasahlin.com/spinkit/ -->
    <div class="cover" v-if="loading">
      <div class="spinner" >
        <div class="cube1"></div>
        <div class="cube2"></div>
      </div>
    </div>
    <navbar placement="top" type="inverse" v-if="!isMobileDevice" >
      <a slot="brand" href="/" title="Home" class="navbar-brand"><i class="wi wi-volcano"></i> Mayhem</a>
      <li slot="left" class="active"><a href="#">Admin</a></li>
      <li slot="left"><a href="#">BCP</a></li>
      <li slot="left"><a href="#">Reports</a></li>
      <li slot="right"><p class="navbar-text">{{user.fname}} {{user.lname}}</p></li>
      <li slot="right"><a href="#" @click.prevent="logout">Logout</a></li>
    </navbar>
    <sidebar></sidebar>
    
    <!-- Page Content -->
    <h3 v-if="isMobileDevice" class="mobileNavBar">
      <div id="menu-toggle">
        <div class="btn btn-primary pull-left" @click="openMenu" id="menuBtn"><i class="fa fa-bars fa-lg"></i></div>
        <!--<div class="clear-fix"><br>&nbsp;</div>-->
      </div>
      <span>&nbsp;<i class="wi wi-volcano"></i> Mayhem</a></span>
    </h3>
    <div id="page-content-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-sm-9">
      
            <router-view></router-view>

          </div>
        </div>
      </div>
    </div><!-- /#page-content-wrapper -->
  </div>
</template>

<script>

import sidebar from './sidebar.vue'
import { navbar } from 'vue-strap'
import fab from 'vue-fab'
import isMobile from 'ismobilejs'

export default {
    name: 'dashboard',
    components: {
      sidebar,
      navbar,
      fab
    },
    computed: {
      loading: function () {
        return this.$store.loading
      },
      isMobileDevice: function () {
        return isMobile.any
      }
    },
    data: function () {
      return {
        user: {},
        fabActions: [
              {
                  name: 'admin',
                  icon: 'cached'
              },
              {
                  name: 'bcp',
                  icon: 'add_alert'
              },
              {
                  name: 'reports',
                  icon: 'add_alert'
              }
          ]
      }
    },
    methods: {
      admin () {
        console.log("admin pressed")
      },
      bcp () {
        console.log("bcp pressed")
      },
      reports () {
        console.log("reports pressed")
      },
      logout () {
        console.log("logout called")
        this.$destroyToken()
        this.$router.push("/Login")
      },
      openMenu: function () {
        let sideBar = document.getElementById('sidebar-wrapper')
        sideBar.style.width = "250px"
      },
      getUser: function () {
        this.$http.get('/api/users/me')
        .then(function(res) {
          this.user = res.body
          this.$store.user = res.body
        })
      }
    },
    created () {
      this.getUser()
    }
  }
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
body {
   overflow-x: hidden;
   background-color: #FFF;
   color: #003D53
}

#wrapper {
   padding-left: 0;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

#page-content-wrapper {
   width: 100%;
   position: absolute;
   padding: 15px;
}


@media(min-width:768px) {
   #wrapper {
       padding-left: 250px;
   }
   #page-content-wrapper {
       padding: 20px;
       position: relative;
       margin-left: 250px;
   }
   #menuBtn{
     display: none;
   }
}

.mobileNavBar {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  border-bottom: 1px solid #0D87E9;
  background-color: #0D87E9;
  color: #FFF;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

/* spinner and css by http://tobiasahlin.com/spinkit/ */
.spinner {
  margin: 30% auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #FFF;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}

.cover {
  position:fixed;
  top:0;
  left:0;
  background:rgba(29,89,129,0.6);
  z-index:1001;
  width:100%;
  height:100%;
}
</style>
