<template>
    <div id="department">

      <alert v-model="showAlert" placement="top" duration="3500" type="success" width="400px" dismissable>
        <span class="icon-ok-circled alert-icon-float-left"></span>
        <p>{{showAlertMsg}}</p>
      </alert>

      <div class="content" v-if="department">
        <div class="row">

          <button class="btn btn-info pull-right" @click.prevent="showDeptPersonel"><i class="fa fa-user"></i> View Personnel</button>


          <form class="form">
            <h1>Department Name:</h1>
            <div class="form-group" >
              <input type="text" class="form-control input-lg" v-model="department.name">
            </div>
            <div class="form-group" >
              <label class="control-label">Parent</label>
              <input type="text" class="form-control" v-model="department.parent.name">
            </div>
            
            <div class="form-group" >
              <label class="control-label">Manager</label>
              <autocomplete :intValue="managerName" :options="users" @select="onManagerUserSelect" ref="depManagerAutoComp"></autocomplete>
            </div>
            <div class="form-group" >
              <label class="control-label">BCPlan Owner</label>
              <autocomplete :intValue="BCPPlanOwnerName" :options="users" @select="onPlanOwnerUserSelect"></autocomplete>
            </div>
  
            <div class="form-group" >
              <label class="control-label">BCP Seats Req</label>
              <input type="text" class="form-control" v-model="department.BCPSeatRequired" placeholder="Unknown">
            </div>
            <div class="form-group" >
              <label class="control-label">Remote Access Req (VPN)</label>
              <input type="text" class="form-control" v-model="department.RemoteAccessRequired" placeholder="Unknown">
            </div>
          </form>

        </div><!-- // .row -->
        <div class="row">

          <h3>
            <span>Business Impact Analysis</span>
          </h3>
          <hr>

          <button class="btn btn-default btn-sm pull-right">Test History</button>
          <button class="btn btn-default btn-sm pull-right" @click.prevent="showNewBpDialog"><i class="fa fa-plus"></i> Add Process</button>

          <h4>
            <span>Buisness Processes:</span>
            <br><small>Last TableTop: 01/22/1978  | Last Sim Test: 01/22/1978</small>
          </h4>
          <ul class="list-group">
            <li v-for="bp in bps" class="list-group-item" @mouseover="addActive(bp._id)" @mouseout="removeActive(bp._id)" :id="bp._id">
                  <router-link :to="{ name: 'business-process', params: { bpid: bp._id } }">
                    {{bp.name}}
                    <button class="btn btn-danger btn-xs pull-right closeBtn" @click.prevent="showRemoveBpConfirm(bp)"><i class="fa fa-close"></i></button>

                    <span v-if="bp.maxAllowedDowntime == 'Critical - Minutes to Hours'" class="label label-danger pull-right" >{{bp.maxAllowedDowntime}}</span>
                    <span v-else-if="bp.maxAllowedDowntime == 'Urgent - 24 Hours'" class="label label-warning pull-right" >{{bp.maxAllowedDowntime}}</span>
                    <span v-else-if="bp.maxAllowedDowntime == '3 - 3 Days'" class="label label-info pull-right" >{{bp.maxAllowedDowntime}}</span>
                    <span v-else-if="bp.maxAllowedDowntime == '4 - 7 Days'" class="label label-success pull-right" >{{bp.maxAllowedDowntime}}</span>
                    <span v-else="bp.maxAllowedDowntime == '5 - 30 Days'" class="label label-primary pull-right" >{{bp.maxAllowedDowntime}}</span>
                  </router-link>

            </li>
          </ul>
        </div>



        <hr>
        <div id="sites">
          <h3>
            <span>Sites:</span>
            <button class="btn btn-default btn-sm pull-right"><i class="fa fa-plus"></i> Add Site</button>
          </h3>
          <p v-if="!department.primarySite">
            <i>No primary sites added to this department.</i>
          </p>
          <div class="panel panel-info location-panel" v-for="site in department.primarySite">
            <div class="panel-heading">
              <b>{{site.name}}</b> - Primary - {{site.siteType}}
            </div>
            <div class="panel-body">
              <div>
                <button class="btn btn-danger btn-sm pull-right"><i class="fa fa-close"></i> remove</button>
              </div>
              <address>
                <strong>
                  {{site.addressStreet1}}<br>
                  <span v-if="site.addressStreet2">{{site.addressStreet2}}<br></span>
                  {{site.addressCity}}, {{site.addressState}} {{site.addressZip}}<br>
                </strong>
              </address>
            </div>
          </div>

          <p v-if="!department.backupSite">
            <i>No backup sites added to this department</i>
          </p>
          <div class="panel panel-info location-panel" v-for="site in department.backupLoc">
            <div class="panel-heading">
              <b>{{site.name}}</b> - Backup - {{site.siteType}}
            </div>
            <div class="panel-body">
              <div>
                <button class="btn btn-danger btn-sm pull-right"><i class="fa fa-minus"></i> remove</button>
              </div>
              <address>
                <strong>
                  {{site.addressStreet1}}<br>
                  <span v-if="site.addressStreet2">{{site.addressStreet2}}<br></span>
                  {{site.addressCity}}, {{site.addressState}} {{site.addressZip}}<br>
                </strong>
              </address>
            </div>
          </div>

        </div>

        <hr>
        <div id="resources">
          <h4>
            <span>Required Resources</span><br/><small>These are the resources that this business process relies on.</small>
          </h4>


          <ul class="list-group" id="dependentResourceList">
            <li class="list-group-item" v-for="dependent in dependents">
              {{dependent.name}} <a class="btn btn-danger btn-xs pull-right" v-on:click="showRemoveResourceConfirm(dependent)"><i class="fa fa-close"></i></a>
            </li>
          </ul>

          <div v-if="dependents.length < 1">
            <i>No dependant resources selected yet ...</i>
          </div>
          <attachResource @attach="attachSelectedResource"/>

        </div>
        <hr>

        <button class="btn btn-success pull-right saveBtn" @click.prevent="updateDepartment" ><i class="fa fa-floppy-o"></i> Save</button>
        <button class="btn btn-danger pull-left delBtn" @click.prevent=""><i class="fa fa-trash"></i> Delete Department</button>


        <!-- //// Remove Buisness Process Modal \\\\ -->
        <modal v-model="removeBpConfirm" effect="fade">
          <!-- custom header -->
          <div slot="modal-header" class="modal-header">
            <h4 class="modal-title">
              Remove Buisness Process
            </h4>
          </div>
          <div slot="modal-body" class="modal-body">
            <h4>Are you sure you want to remove this Business Process from {{ department.name }}?</h4>
            Process to remove: {{bpToRemove.name}}<br />
            <small>Note: This action will remove this process from this department but will NOT delete the business process.</small>
          </div><!-- // End #frmAddContact -->
          <!-- custom buttons -->
          <div slot="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-default" @click="removeBpConfirm = false">Cancel</button>
            <button type="button" class="btn btn-warning" @click="removeBp(bpToRemove._id)">Remove</button>
          </div>
        </modal><!-- End removeBpConfirm -->

        <!-- //// Add New Buisness Process Modal \\\\ -->
        <modal v-model="addNewBp" effect="fade" large>
          <!-- custom header -->
          <div slot="modal-header" class="modal-header">
            <h4 class="modal-title">
              Add Buisness Process
            </h4>
          </div>
          <div slot="modal-body" class="modal-body">
            <div v-show="!enterNewProcess">
              Add an exisitng business process?
              <autocomplete  :options="allBps" @select="existingBpSelected"></autocomplete>
              <div class="well" v-show="selectedProcessToAdd">
                <strong>Click 'Add Process' to attach this business process to this department.</strong><br />
                Name: {{bpToAdd.name}} <br/>
                Description: {{bpToAdd.description}}
              </div>
              <div class="alert alert-danger" v-show="showBpErrorMsg">{{bpErrorMsgTxt}}</div>
              <hr>
              Or add a completely new process?
            </div>
            <button class="btn btn-info" @click="enterNewProcess = true" v-show="!enterNewProcess" v-bind:disabled="enterNewProcessBtn"><i class="fa fa-plus"></i> Add New Business Process</button>
            <div id="addNewProcessForm" v-show="enterNewProcess">
              <div class="form-group col-sm-12">
                <label>Process Name</label>
                <input type="text" class="form-control" v-model="bpToAdd.name">
              </div>
              <div class="form-group col-sm-12">
                <label>Description</label>
                <input type="text" class="form-control" v-model="bpToAdd.description">
              </div>
              <div class="form-group col-sm-12">
                <strong>Frequency</strong><br />
                <label class="radio-inline btn btn-default" :class="{ active: bpToAdd.frequency == 'On-Demand' }">
                  <input type="radio" v-model="bpToAdd.frequency" value="On-Demand">On-Demand</input>
                </label>
                <label class="radio-inline btn btn-default" :class="{ active: bpToAdd.frequency == 'Scheduled' }">
                  <input type="radio" v-model="bpToAdd.frequency" value="Scheduled">Scheduled</input>
                </label>
                <label class="radio-inline btn btn-default" :class="{ active: bpToAdd.frequency == 'Dailey' }">
                  <input type="radio" v-model="bpToAdd.frequency" value="Dailey">Dailey</input>
                </label>
                <label class="radio-inline btn btn-default" :class="{ active: bpToAdd.frequency == 'Weekly' }">
                  <input type="radio" v-model="bpToAdd.frequency" value="Weekly">Weekly</input>
                </label>
                <label class="radio-inline btn btn-default" :class="{ active: bpToAdd.frequency == 'Monthly' }">
                  <input type="radio" v-model="bpToAdd.frequency" value="Monthly">Monthly</input>
                </label>
                <label class="radio-inline btn btn-default" :class="{ active: bpToAdd.frequency == 'Quarterly' }">
                  <input type="radio" v-model="bpToAdd.frequency" value="Quarterly">Quarterly</input>
                </label>
                <label class="radio-inline btn btn-default" :class="{ active: bpToAdd.frequency == 'Annual' }">
                  <input type="radio" v-model="bpToAdd.frequency" value="Annual">Annual</input>
                </label>
              </div>
              <div class="form-group col-sm-12">
                <label>Frequency Notes</label>
                <input type="text" class="form-control" v-model="bpToAdd.frequencyNotes">
              </div>
              <div class="form-group col-sm-12">
                <strong>Max Allowed Downtime<br /></strong>
                <label class="radio-inline btn btn-default btn-low" :class="{ active: bpToAdd.maxAllowedDowntime == 'Nonessential - 30 days' }">
                  <input type="radio" v-model="bpToAdd.maxAllowedDowntime" value="Nonessential - 30 days">Nonessential (30 Days)</input>
                </label>
                <label class="radio-inline btn btn-default btn-lowmed" :class="{ active: bpToAdd.maxAllowedDowntime == 'Normal - 7 days' }">
                  <input type="radio" v-model="bpToAdd.maxAllowedDowntime" value="Normal - 7 days">Normal (7 Days)</input>
                </label>
                <label class="radio-inline btn btn-default btn-med" :class="{ active: bpToAdd.maxAllowedDowntime == 'Important - 72 Hours' }">
                  <input type="radio" v-model="bpToAdd.maxAllowedDowntime" value="Important - 72 Hours">Important (72 Hrs)</input>
                </label>
                <label class="radio-inline btn btn-default btn-medhigh" :class="{ active: bpToAdd.maxAllowedDowntime == 'Urgent - 24 Hours' }">
                  <input type="radio" v-model="bpToAdd.maxAllowedDowntime" value="Urgent - 24 Hours">Urgent (24 Hrs)</input>
                </label>
                <label class="radio-inline btn btn-default btn-high" :class="{ active: bpToAdd.maxAllowedDowntime == 'Critical - Minutes to Hours' }">
                  <input type="radio" v-model="bpToAdd.maxAllowedDowntime" value="Critical - Minutes to Hours">Critical (Mins to Hrs)</input>
                </label>
              </div>

              <div class="form-group col-sm-6">
                <strong>Reputation Risk<br /></strong>
                <label class="radio-inline btn btn-default btn-low" :class="{ active: bpToAdd.riskReputation == 'low' }">
                  <input type="radio" v-model="bpToAdd.riskReputation" value="low">Low</input>
                </label>
                <label class="radio-inline btn btn-default btn-med" :class="{ active: bpToAdd.riskReputation == 'medium' }">
                  <input type="radio" v-model="bpToAdd.riskReputation" value="medium">Medium</input>
                </label>
                <label class="radio-inline btn btn-default btn-high" :class="{ active: bpToAdd.riskReputation == 'high' }">
                  <input type="radio" v-model="bpToAdd.riskReputation" value="high">High</input>
                </label>
              </div>

              <div class="form-group col-sm-6">
                <strong>Legal Risk<br /></strong>
                <label class="radio-inline btn btn-default btn-low" :class="{ active: bpToAdd.riskLegal == 'low' }">
                  <input type="radio" v-model="bpToAdd.riskLegal" value="low">Low</input>
                </label>
                <label class="radio-inline btn btn-default btn-med" :class="{ active: bpToAdd.riskLegal == 'medium' }">
                  <input type="radio" v-model="bpToAdd.riskLegal" value="medium">Medium</input>
                </label>
                <label class="radio-inline btn btn-default btn-high" :class="{ active: bpToAdd.riskLegal == 'high' }">
                  <input type="radio" v-model="bpToAdd.riskLegal" value="high">High</input>
                </label>
              </div>

              <div class="form-group col-sm-6">
                <strong>Financial Risk<br /></strong>
                <label class="radio-inline btn btn-default btn-low" :class="{ active: bpToAdd.riskFinancial == 'low' }">
                  <input type="radio" v-model="bpToAdd.riskFinancial" value="low">Low</input>
                </label>
                <label class="radio-inline btn btn-default btn-med" :class="{ active: bpToAdd.riskFinancial == 'medium' }">
                  <input type="radio" v-model="bpToAdd.riskFinancial" value="medium">Medium</input>
                </label>
                <label class="radio-inline btn btn-default btn-high" :class="{ active: bpToAdd.riskFinancial == 'high' }">
                  <input type="radio" v-model="bpToAdd.riskFinancial" value="high">High</input>
                </label>
              </div>

              <div class="form-group col-sm-6">
                <strong>Operational Risk<br /></strong>
                <label class="radio-inline btn btn-default btn-low" :class="{ active: bpToAdd.riskOperational == 'low' }">
                  <input type="radio" v-model="bpToAdd.riskOperational" value="low">Low</input>
                </label>
                <label class="radio-inline btn btn-default btn-med" :class="{ active: bpToAdd.riskOperational == 'medium' }">
                  <input type="radio" v-model="bpToAdd.riskOperational" value="medium">Medium</input>
                </label>
                <label class="radio-inline btn btn-default btn-high" :class="{ active: bpToAdd.riskOperational == 'high' }">
                  <input type="radio" v-model="bpToAdd.riskOperational" value="high">High</input>
                </label>
              </div>
              <br>&nbsp;<br>
              <div class="form-group col-sm-12">
                <label>After process is added you can select the process and add the required resources.</label>
              </div>
            </div><!-- //End AddNewProcessForm -->
            <div class="clear-fix">&nbsp;</div>
          </div><!-- // End #frmAddContact -->
          <!-- custom buttons -->
          <div slot="modal-footer" class="modal-footer">
            <button type="button" class="btn btn-default" @click="addNewBp= false">Cancel</button>
            <button type="button" class="btn btn-success" @click="addBp()" v-bind:disabled="saveBPBtnDisabled"><i class="fa fa-save"></i> Save</button>
          </div>
        </modal><!-- End AddNewBp -->


      </div><!-- // .content -->


    </div>
</template>

<script>
import Autocomplete from './mycomponents/autocomplete.vue'
import attachResource from './mycomponents/attachResource.vue'
import { alert } from 'vue-strap'
import { modal } from 'vue-strap'


export default {
  name: 'department',
  components: {
    Autocomplete,
    attachResource,
    alert,
    modal
  },
  created () {
    this.getDepartment()
    this.getBps()
    this.getUsers()
  },
  computed: {
    managerName: function () {
      if (this.department.manager) {
        return `${this.department.manager.fname} ${this.department.manager.lname}`
      } else {
        return `No Manager Selected`
      }
    },
    BCPPlanOwnerName: function () {
      if (this.department.BCPPlanOwner) {
        return `${this.department.BCPPlanOwner.fname} ${this.department.BCPPlanOwner.lname}`
      } else {
        return `No BCPPlanOwner Selected`
      }
    },
    simTest: function () {
      if(this.simulationTestReq = true){
        return "Yes"
      } else {
        return "No"
      }
    },
    showAlertClass: function() {
      return this.$store.showAlertClass
    },
    showAlertMsg: function() {
      return this.$store.showAlertMsg
    },
    showAlert: function() {
      return this.$store.showAlert
    },
    dependents: function() {
      return this.selectedDependants
    }
  },
  data () {
    return {
      department: {
        manager: "",
        BCPPlanOwner: ""
      },
      departments : this.$store.departments,
      users: [],
      bps : null,
      selectedDependants: [],
      bpsStagedForRemoval: [],
      enterNewProcess: false,
      selectedProcessToAdd: false,
      enterNewProcessBtn: false,
      saveBPBtnDisabled: false,
      loading : false,
      error: null,
      removeBpConfirm: false,
      bpToRemove: {},
      allBps: [],
      addNewBp : false,
      bpToAdd : {
        maxAllowedDowntime: "",
        frequencyNotes: "",
        frequency: "",
        riskReputation: "",
        riskOperational: "",
        riskFinancial: "",
        riskLegal: "",
        name: ""
      },
      bpErrorMsgTxt: "",
      showBpErrorMsg: false
    }
  },
  methods: {
    getDepartment: function(){
      let deptId = this.$route.params.deptId
      //this.error = this.department = null
      this.$store.loading = true
      this.$http.get(`/api/department/${deptId}`)
      .then(function(res) {
        //Object.assign(this.department, res.body)
        this.department = res.body
        this.$store.loading = false
        let self = this
        this.department.resourcesRequired.forEach(function(dependent){
          self.selectedDependants.push(dependent)
        })
      })
      .catch(function(err){
        console.log(`Woops, Error: ${err}`)
        this.error = err
      })
    },
    getBps: function () {  //get business processes
      let deptId = this.$route.params.deptId
      this.$http.get(`/api/department/bprocess/${deptId}`)
      .then(function(res) {
        let rtnProcesses = res.body
        rtnProcesses.sort(function(a,b){
          if ( a.maxAllowedDowntime < b.maxAllowedDowntime )
              return -1;
          if ( a.maxAllowedDowntime > b.maxAllowedDowntime )
              return 1;
          return 0;
        })
        this.bps = rtnProcesses
      })
      .catch(function(err){
        console.log(`Woops, Error: ${err}`)
        this.error = err
      })
    },
    getUsers: function () {
      this.$http.get(`/api/users`)
      .then(function(res){
        let myThis = this
        let rtnUsers = res.body
        let modUsers = []
        let cnt = 0
        rtnUsers.forEach(function(user) {
          user.name = `${user.fname} ${user.lname}`
          modUsers.push(user)
          cnt++
          if(cnt === rtnUsers.length) {
            myThis.users = modUsers
          }
        })
      })
    },
    updateDepartment: function () {
      console.log(`update department called...`)

      let updatedDept = {}
      let myThis = this
      if ("name" in this.department) {
        updatedDept.name = this.department.name
      }
      if ("manager" in this.department) {
        updatedDept.manager = this.department.manager._id
      }
      if ("parent" in this.department) {
        updatedDept.parent = this.department.parent._id
      }
      if ("BCPPlanOwner" in this.department) {
        updatedDept.BCPPlanOwner = this.department.BCPPlanOwner._id
      }
      if ("BCPSeatRequired" in this.department) {
        updatedDept.BCPSeatRequired = this.department.BCPSeatRequired
      }
      if ("RemoteAccessRequired" in this.department) {
        updatedDept.RemoteAccessRequired = this.department.RemoteAccessRequired
      }
      if ("simulationTestReq" in this.department) {
        updatedDept.simulationTestReq = this.department.simulationTestReq
      }
      if ("primarySite" in this.department) {
        console.log("entered")
        let sitesArr = []
        let cntr = 0
        console.log(`cntr is ${cntr}`)
        this.department.primarySite.forEach(function (site) {
          sitesArr.push(site._id)
          cntr++
          if (cntr === myThis.department.primarySite.length){
            updatedDept.primarySite = sitesArr
          }
        })
      }
      if ("backupSite" in this.department) {
        let bSitesArr = []
        let cntr2 = 0
        myThis.department.backupSite.forEach(function (site) {
          bSitesArr.push(site._id)
          cntr2++
          if (cntr2 === myThis.department.backupSite.length){
            updatedDept.backupSite = bSitesArr
          }
        })
      }
      if ("description" in this.department) {
        updatedDept.description = this.department.description
      }
      if ("division" in this.department) {
        updatedDept.division = this.department.division._id
      }
      if ("resourcesRequired" in this.department) {
        let resourceArr = []
        let cntr3 = 0
        myThis.department.resourcesRequired.forEach(function (resource) {
          resourceArr.push(resource._id)
          cntr3++
          if (cntr3 === myThis.department.resourcesRequired.length){
            updatedDept.resourcesRequired = resourceArr
          }
        })
      }

      this.$http.put(`/api/department/${this.department._id}`, updatedDept)
        .then(function(res) {
          let myThis = this
          console.log('Department Updated')
          this.$toasted.success("Department Updated Successfully.", {duration: 3500})
        })

      if(this.bpsStagedForRemoval.length > 0){
        this.bpsStagedForRemoval.forEach(function(bpId){
          myThis.$http.put(`/api/department/removebp/${bpId}/${myThis.department._id}`)
          .then(function(res){
            console.log("bps removed")
          })
        })
      }
    },
    gotoDept: function(deptId){
      this.$router.replace({ name: 'department', params: { deptId: deptId }})
      this.getDepartment()
    },
    showRemoveBpConfirm: function (bp) {
      this.bpToRemove = bp
      this.removeBpConfirm = true
    },
    addBp: function () {
      if(!this.bpToAdd.existing){
        this.bpToAdd.department = [this.department._id]
        this.addNewBp = false
        this.$toasted.success("The Process was successfully added to this department.", {duration: 3500})


        this.$http.post('/api/bprocess', this.bpToAdd)
        .then(function(res) {
          this.bps.push(res.body)
          this.bpToAdd.maxAllowedDowntime = "",
          this.bpToAdd.frequencyNotes = "",
          this.bpToAdd.frequency = "",
          this.bpToAdd.riskReputation = "",
          this.bpToAdd.riskOperational = "",
          this.bpToAdd.riskFinancial = "",
          this.bpToAdd.riskLegal = "",
          this.bpToAdd.name = ""
        })
      } else {
          //THE BP ALREADY EXISTS push this dept to the dept array and update
          this.bpToAdd.department.push(this.department._id)

          this.$http.put(`/api/bprocess/${this.bpToAdd._id}`, this.bpToAdd)
          .then(function (res) {
            this.bps.push(this.bpToAdd)
            this.addNewBp = false
            this.$toasted.success("The Process was successfully added to this department.", {duration: 3500})
          })

      }

    },
    removeBp: function(bpId) {
      this.removeBpConfirm = false
      let obj = this.bps.find(function (item){
        return item._id == bpId
      })
      let index = this.bps.indexOf(obj)
      this.bps.splice(index, 1)

      this.bpsStagedForRemoval.push(bpId)
    },
    addActive: function(id){
      let thisLI = document.getElementById(id)
      thisLI.classList.add('active')
    },
    removeActive: function(id){
      let thisLI = document.getElementById(id)
      thisLI.classList.remove('active')
    },
    onManagerUserSelect: function (value) {
      let names = value.name.split(' ');
      this.department.manager = {
        _id : value._id,
        fname : names[0],
        lname : names[1]
      }
    },
    onPlanOwnerUserSelect: function (value) {
      let names = value.name.split(' ');
      this.department.BCPPlanOwner = {
        _id : value._id,
        fname : names[0],
        lname : names[1]
      }
    },
    showNewBpDialog: function () {
      this.$http.get('/api/bprocess')
      .then(function(res) {
        this.allBps = res.body
        this.addNewBp = true
      })
    },
    existingBpSelected: function(value) {
      console.log(value)
      //check to make sure the selected bp is not already assoc with this department
      let alreadyAssoc = this.bps.find(function(bp) {
        return bp._id == value._id
      })
      console.log(alreadyAssoc)

      if (alreadyAssoc){
        console.log("Stop! This BP is already assoc with this dept.")
        this.saveBPBtnDisabled = true
        this.bpErrorMsgTxt = "This process is already associated with this department. Please select another business process or press 'cancel'."
        this.showBpErrorMsg = true
      } else {

        console.log(value)
        this.saveBPBtnDisabled = false
        this.showBpErrorMsg = false
        this.bpErrorMsgTxt = ""

        this.bpToAdd.existing = true
        this.bpToAdd._id = value._id
        this.bpToAdd.department = value.department
        this.bpToAdd.name = value.name
        this.bpToAdd.description = value.description
        this.bpToAdd.frequency = value.frequency
        this.bpToAdd.frequencyNotes = value.frequencyNotes
        this.bpToAdd.maxAllowedDowntime = value.maxAllowedDowntime
        this.bpToAdd.riskReputation = value.riskReputation
        this.bpToAdd.riskLegal = value.riskLegal
        this.bpToAdd.riskFinancial = value.riskFinancial
        this.bpToAdd.riskOperational = value.riskOperational
        this.bpToAdd.requiredResources = value.requiredResources

        this.selectedProcessToAdd = true
        this.enterNewProcessBtn = true //disable the button
      }

    },
    attachSelectedResource (val) {
      console.log(val)
      this.selectedDependants.push(val)
      this.department.resourcesRequired.push(val)
    },
    showDeptPersonel () {
      console.log("showing Personel by Dept")
      this.$router.push(`/deptPersonel/${this.department._id}`)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .input-group {
    margin-bottom: 2px;
    margin-top: 3px;
  }
  .btn {
    margin-left: 3px;
    margin-bottom: 3px;
  }
  li.active a {
    color: #FFF;
    text-decoration: none;
  }
  input:read-only {
    background-color: #F5F5F5;
  }
  .btn-high {
    color: #b10026;
  }
  .btn-medhigh {
    color: #e31a1c;
  }
  .btn-med {
    color: #fc4e2a;
  }
  .btn-lowmed {
    color: #fd8d3c;
  }
  .btn-low {
    color: #feb24c;
  }
  .closeBtn {
    margin-left: 12px;
  }
  @media(min-width:768px) {
    .editBtn .saveBtn .cancelBtn {

    }
  }
</style>
