<template>
    <div id="">
      <h1>Departments</h1>
      <autocomplete :options="departments" @select="onOptionSelect"></autocomplete>

      <ul class="list-group">

        <li v-for="department in departments"
            class="list-group-item"
            @mouseover="addActive(department._id)"
            @mouseout="removeActive(department._id)"
            :id="department._id">
              <router-link :to="{ name: 'department', params: { deptId: department._id } }">
                {{department.name}}
                <span v-if="department.parent"> -
                  <small>Parent: {{department.parent.name}}</small>
                </span>
                <i class="fa fa-chevron-right pull-right"></i>
              </router-link>
        </li>

      </ul>
    </div>
</template>

<script>
import Autocomplete from './mycomponents/autocomplete.vue'

export default {
  name: 'departments',
  components: {
    Autocomplete
  },
  data () {
    return {
      departments: []
    }
  },
  created: function () {
    console.log("Created running")
    this.getDepartments()
  },
  methods: {
    getDepartments: function () {
      console.log("getDepartments Called")
      this.$store.loading = true

      this.$http.get('/api/departments')
        .then(function(res){
          console.log("getDepartments returned")
          this.departments = res.body
          this.$store.departments = res.body
          this.$store.loading = false
        })
        .catch(function(res){
          console.log('Woops. Error: ' + res)
        })
    },
    addActive: function(id){
      let thisLI = document.getElementById(id)
      thisLI.classList.add('active')
    },
    removeActive: function(id){
      let thisLI = document.getElementById(id)
      thisLI.classList.remove('active')
    },
    openMenu: function () {
      let sideBar = document.getElementById('sidebar-wrapper')
      sideBar.style.width = "250px"
    },
    onOptionSelect: function (value) {
      console.log(value)
      this.$router.push({name: 'department', params: { deptId: value._id}})
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
li.active a {
  color: #FFF;
  text-decoration: none;
}

</style>
