<template>
    <div id="deptPersonel">

      <h2>
        <span>{{department.name}} Personel</span>
      </h2>
        
      <autocomplete :options="allDeptPersonel" @select="onPersonSelect"></autocomplete>

      <paginate :totalPages="10" @pageSelect="onPageSelect"></paginate>

      <ul class="list-group">
        <router-link v-for="person in deptPersonel.docs" :to="{ name: 'person', params: { personId: person._id } }" class="list-group-item" @mouseover="addActive(person._id)" @mouseout="removeActive(person._id)" :id="person._id" :key="person._id">
          <span class="label label-info" v-if="!person.isActive">Disabled</span> {{person.lname}}, {{person.fname}} - {{person.title}}
          <i class="fa fa-chevron-right pull-right"></i>
        </router-link>

      </ul>

      <nav class="pull-right">
        <ul class="pager">
          Total Personel: {{deptPersonel.total}} |
          Page {{deptPersonel.page}} of {{deptPersonel.pages}}
          <li v-bind:class="{ disabled: deptPersonel.page < 2 }"><a href="#" @click.prevent="previous">Previous</a></li>
          <li v-bind:class="{ disabled: deptPersonel.page == deptPersonel.pages }"><a href="#" @click.prevent="next">Next</a></li>
        </ul>
      </nav>

    </div>
</template>

<script>
import Autocomplete from './mycomponents/autocomplete.vue'
import paginate from './mycomponents/paginate.vue'

export default {
  name: 'deptPersonel',
  components: {
    Autocomplete,
    paginate
  },
  data () {
    return {
      department: {},
      deptPersonel: [],
      allDeptPersonel: [],
      loading: false,
      pageByLetter: false,
      currentLetter: ""
    }
  },
  computed: {

  },
  methods: {
    addActive: function(id){
      let thisLI = document.getElementById(id)
      thisLI.classList.add('active')
    },
    removeActive: function(id){
      let thisLI = document.getElementById(id)
      thisLI.classList.remove('active')
    },
    getDepartment () {
      let deptId = this.$route.params.deptId
      //this.error = this.department = null
      this.$store.loading = true
      this.$http.get(`/api/department/${deptId}`)
      .then(function(res) {
        //Object.assign(this.department, res.body)
        this.department = res.body
        this.$store.loading = false
      })
      .catch(function(err){
        console.log(`Woops, Error: ${err}`)
        this.error = err
      })
    },
    getDeptPersonel: function () { //returns paginated results
      let deptId = this.$route.params.deptId
      this.$store.loading = true
      this.$http.get(`/api/deptPersonel/page/1/${deptId}`)
      .then(function(res) {
        this.deptPersonel = res.body
        this.$store.loading = false
      })
    },
    getAllDeptPersonel: function () {
      let deptId = this.$route.params.deptId
      this.$http.get(`/api/deptPersonel/${deptId}`)
      .then(function(res) {
        let personelArray = res.body.map(function(person) {
          let thisPerson = {
            name: `${person.lname}, ${person.fname}`,
            description : person.title
          }
          return thisPerson
        })
        this.allDeptPersonel = personelArray
      })
    },
    onPersonSelect: function (value) {
      console.log(value)
      this.$router.push({name: 'person', params: { personId: value._id}})
    },
    onPageSelect: function (value) {
      let deptId = this.$route.params.deptId
      console.log(`The selected page button is: ${value}`)
      this.pageByLetter = true
      if (value == '#') {
        value = '[0-9]'
      }
      this.currentLetter = value
      this.$http.get(`/api/deptPersonel/letter/${value}/1/${deptId}`)
      .then(function(res) {
        this.deptPersonel = res.body
      })
    },
    previous: function() {
      let deptId = this.$route.params.deptId
      let prevPage = +this.deptPersonel.page - 1
      if (prevPage == 0) {
        return
      } else {

        if(this.pageByLetter){
          this.$http.get(`/api/deptPersonel/letter/${this.currentLetter}/${prevPage}/${deptId}`)
          .then(function(res) {
            this.deptPersonel = res.body
          })
        } else {
          this.$http.get(`/api/deptPersonel/page/${prevPage}/${deptId}`)
          .then(function(res) {
            this.deptPersonel = res.body
          })
        }

      }
    },
    next: function () {
      let deptId = this.$route.params.deptId
      let nextPage = +this.deptPersonel.page + 1

      if(this.pageByLetter){
        this.$http.get(`/api/deptPersonel/letter/${this.currentLetter}/${nextPage}/${deptId}`)
        .then(function(res) {
          this.deptPersonel = res.body
        })
      } else {
        this.$http.get(`/api/deptPersonel/page/${nextPage}/${deptId}`)
        .then(function(res) {
          this.deptPersonel = res.body
        })
      }

    }
  },
  created: function () {
    this.getDeptPersonel()
    this.getDepartment()
    this.getAllDeptPersonel()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
