<template>
  <div>
    <h4>Welcome {{name}}</h4>
    <p class="mobileTxt">Press the menu button above to get started.</p>

    <h3>News</h3>

    <div class="media" v-for="blog in blogs">
      <div class="media-body">
        <h4 class="media-heading">{{blog.title}}</h4>
        <blockquote>
          {{blog.body}}
          <footer>
            {{blog.author}} on {{format(blog.date*1000, 'MM.DD.YYYY')}}
            <span class="label label-primary" v-for="tag in blog.tags">{{tag}}</span>
          </footer>
        </blockquote>
      </div>
    </div>
    <!---
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span><i class="fa fa-bug text-danger"></i> Open Bugs | <i class="fa fa-rocket"></i> Feature Requests</span>
          <span class="pull-right">
            <small>
              Priority:
              <i class="fa fa-circle text-success"></i> = 'Low'
              <i class="fa fa-circle text-warning"></i> = 'Med'
              <i class="fa fa-circle text-danger"></i> = 'High'
            </small>
          </span>
        </h3>
      </div>
      <span href="#" class="list-group-item" v-for="bug in openBugs">
        <i class="fa fa-bug text-danger" v-if="bug.type == 'bug'"></i>
        <i class="fa fa-rocket" v-if="bug.type == 'feature'"></i>
        <i class="fa fa-circle text-success" v-if="bug.priority == 'low'"></i>
        <i class="fa fa-circle text-warning" v-if="bug.priority == 'medium'"></i>
        <i class="fa fa-circle text-danger" v-if="bug.priority == 'high'"></i>
        <strong>Opened Date:</strong> {{format(bug.openDate, 'MM.DD.YYYY')}}
        <br>
        <strong>Description:</strong> {{bug.description}}<br>
        <strong>Additional Notes:</strong> {{bug.notes}}
      </span>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span>Closed Bugs | Feature Requests</span>
          <span class="pull-right">
            <small>
              Priority:
              <i class="fa fa-circle text-success"></i> = 'Low'
              <i class="fa fa-circle text-warning"></i> = 'Med'
              <i class="fa fa-circle text-danger"></i> = 'High'
            </small>
          </span>
        </h3>
      </div>
      <span href="#" class="list-group-item" v-for="bug in closedBugs">
        <i class="fa fa-bug text-danger" v-if="bug.type == 'bug'"></i>
        <i class="fa fa-rocket" v-if="bug.type == 'feature'"></i>
        <i class="fa fa-circle text-success" v-if="bug.priority == 'low'"></i>
        <i class="fa fa-circle text-warning" v-if="bug.priority == 'medium'"></i>
        <i class="fa fa-circle text-danger" v-if="bug.priority == 'high'"></i>
        <strong>Opened Date:</strong> {{format(bug.openDate, 'MM.DD.YYYY')}}
        <strong>Closed Date:</strong> {{format(bug.closedDate, 'MM.DD.YYYY')}}
        <strong>Closed By:</strong> {{bug.closedBy}}
        <br>
        <strong>Description:</strong> {{bug.description}}<br>
        <strong>Additional Notes:</strong> {{bug.notes}}
      </span>
    </div><
    -->

  </div>
</template>

<script>
import Autocomplete from "./mycomponents/autocomplete.vue"
import { format } from 'date-fns'

export default {
    name: 'app',
    components: {
      Autocomplete,
      format
    },
    computed: {
      name: function () {
        return `${this.$store.user.fname} ${this.$store.user.lname}`
      },
      openBugs: function () {
        let openBugs = []
        this.bugs.forEach(function(bug){
          if (bug.closed == false){
            openBugs.push(bug)
          }
        })
        return openBugs
      },
      closedBugs: function () {
        let closedBugs = []
        this.bugs.forEach(function(bug){
          if (bug.closed == true){
            closedBugs.push(bug)
          }
        })
        return closedBugs
      }
    },
    methods: {
      getBlog: function () {
        this.$store.loading = true
        this.$http.get(`/api/blog/${this.blogPage}`)
        .then(function(res){
          let rtnBlogs = res.body.docs
          rtnBlogs.sort(function(a,b){
            if ( a.date > b.date )
                return -1;
            if ( a.date < b.date )
                return 1;
            return 0;
          })
          this.blogs = rtnBlogs
          this.$store.loading = false

        })
      },
      getBugs: function () {
        this.$http.get(`/api/bugs`)
        .then(function(res){
          this.bugs = res.body
        })
      },
      format: function (...args) {
        return format(...args);
      }
    },
    created() {
      this.getBlog()
      //this.getBugs()
    },
    data: function () {
      return {
        msg: "Code Name: Mayhem",
        blogs: null,
        blogPage: 1,
        bugs: [],
      }
    }
  }
</script>

<style scoped>
.label {
  margin-right: 2px;
}

@media(min-width:768px) {
  .mobileTxt {
    display: none;
  }
}
</style>
