  <template>
  <div class="content">
    <div class="row">
      <h1>
        Add New Personel:
      </h1>
      <form class="form">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-5">
              <label class="control-label">First Name</label>
              <input type="text" class="form-control" v-model="person.fname">
            </div>
            <div class="col-sm-2">
              <label class="control-label">Middle Int</label>
              <input type="text" class="form-control" v-model="person.mIntial">
            </div>
            <div class="col-sm-5">
              <label class="control-label">Last Name</label>
              <input type="text" class="form-control" v-model="person.lname" >
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Title</label>
          <input type="text" class="form-control" v-model="person.title">
        </div>
        <div class="form-group">
          <label class="control-label">Department</label>
          <autocomplete :options="allDepartments" @select="onDepartmentSelect"></autocomplete>
        </div>
        <div class="form-group">
          <label class="control-label">Emergency Call From</label>
          <input type="text" class="form-control" v-model="person.emergencyCallFrom">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-8">
              <label class="control-label">Office Phone</label>
              <input type="text" class="form-control" v-model="person.officePhone" placeholder="222-333-4455">
            </div>
            <div class="col-sm-4">
              <label class="control-label">Ext</label>
              <input type="text" class="form-control" v-model="person.officePhoneExt">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label class="control-label">Home Phone</label>
              <input type="text" class="form-control" v-model="person.homePhone" placeholder="222-333-4455">
            </div>
            <div class="col-sm-6">
              <label class="control-label">Mobile Phone</label>
              <input type="text" class="form-control" v-model="person.mobilePhone" placeholder="222-333-4455">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="ccontrol-label">Email</label>
          <input type="text" class="form-control" v-model="person.email" placeholder="vader@empire.net">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label class="control-label">User Allowed to Login?</label>
              <br>
              <toggle-button :value="person.loginAllowed" @change="updateLoginAllowed" :width="75" :labels="{checked: 'Yes', unchecked: 'No'}"/>
            </div>
            <div class="col-sm-6">
              <label class="control-label">Login Password</label>
              <input type="text" class="form-control" v-model="person.password" :disabled="!person.loginAllowed">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label class="control-label">User has admin rights?</label>
            <br>
            <toggle-button :value="person.admin" @change="updateAdmin" :width="75" :labels="{checked: 'Yes', unchecked: 'No'}"/>
          </div>
          <div class="col-sm-6">
            <label class="control-label">User account is active?</label>
            <br>
            <toggle-button :value="person.isActive" @change="updateIsActive" :width="75" :labels="{checked: 'Yes', unchecked: 'No'}"/>
          </div>
        </div>

        <hr>

        <button class="btn btn-success pull-right" @click.prevent="addPerson" ><i class="fa fa-floppy-o"></i> Save Person</button>
        <button class="btn btn-default pull-right" @click.prevent="cancel" >Cancel</button>
      </form>
    </div>



  </div><!-- // .content -->

</template>

<script>
import Autocomplete from './mycomponents/autocomplete.vue'

export default {
  name: 'personAdd',
  components: {
    Autocomplete
  },
  computed: {

  },
  data () {
    return {
      allDepartments: [],
      person: {
        department: "",
        email: "",
        emergencyCallFrom: "",
        fname: "",
        lname: "",
        mIntial: "",
        officePhone: "",
        officePhoneExt: "",
        title: "",
        loginAllowed: false,
        password: "",
        admin: false,
        isActive: true
      }
    }
  },
  methods: {
    cancel: function() {
      this.$router.go(-1)
    },
    onDepartmentSelect: function(department) {
      this.person.department = department._id
    },
    addPerson: function () {
      this.$http.post('/api/users', this.person)
      .then(function (res) {
        this.$toasted.success("Personel was added successfully", {duration: 3600, position: 'top-center'})
        this.$router.push('personel')
      })
    },
    getAllDepartments: function () {
      this.$http.get('/api/departments')
      .then(function(res) {
        this.allDepartments = res.body
      })
    },
    updateLoginAllowed: function (val) {
      this.person.loginAllowed = val.value
    },
    updateAdmin: function (val) {
      this.person.admin = val.value
    },
    updateIsActive: function (val) {
      this.person.isActive = val.value
    }
  },
  created () {
    this.getAllDepartments()
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.btn {
  margin-left: 5px;
}
</style>
