<template>
    <div id="personel">

      <h1>
        <span>Personel</span>
        <button class="btn btn-primary pull-right" @click.prevent="addPerson"><i class="fa fa-plus"></i> Add Personel</button>
      </h1>
      <autocomplete :options="allPersonel" @select="onPersonSelect"></autocomplete>

      <paginate :totalPages="10" @pageSelect="onPageSelect"></paginate>

      <ul class="list-group">
        <router-link v-for="person in personel.docs" :to="{ name: 'person', params: { personId: person._id } }" class="list-group-item" @mouseover="addActive(person._id)" @mouseout="removeActive(person._id)" :id="person._id" :key="person._id">
          <span class="label label-info" v-if="!person.isActive">Disabled</span> {{person.lname}}, {{person.fname}} - {{person.title}}
          <i class="fa fa-chevron-right pull-right"></i>
        </router-link>

      </ul>

      <nav class="pull-right">
        <ul class="pager">
          Total Personel: {{personel.total}} |
          Page {{personel.page}} of {{personel.pages}}
          <li v-bind:class="{ disabled: personel.page < 2 }"><a href="#" @click.prevent="previous">Previous</a></li>
          <li v-bind:class="{ disabled: personel.page == personel.pages }"><a href="#" @click.prevent="next">Next</a></li>
        </ul>
      </nav>

    </div>
</template>

<script>
import Autocomplete from './mycomponents/autocomplete.vue'
import paginate from './mycomponents/paginate.vue'

export default {
  name: 'personel',
  components: {
    Autocomplete,
    paginate
  },
  data () {
    return {
      personel: [],
      allPersonel: [],
      loading: false,
      pageByLetter: false,
      currentLetter: ""
    }
  },
  computed: {

  },
  methods: {
    addActive: function(id){
      let thisLI = document.getElementById(id)
      thisLI.classList.add('active')
    },
    removeActive: function(id){
      let thisLI = document.getElementById(id)
      thisLI.classList.remove('active')
    },
    getPersonel: function () { //returns paginated results
      this.$store.loading = true
      this.$http.get('/api/users/page/1')
      .then(function(res) {
        this.personel = res.body
        this.$store.loading = false
      })
    },
    getAllPersonel: function () {
      this.$http.get('/api/users')
      .then(function(res) {
        let personelArray = res.body.map(function(person) {
          let thisPerson = {
            name: `${person.lname}, ${person.fname}`,
            description : person.title
          }
          return thisPerson
        })
        this.allPersonel = personelArray
      })
    },
    onPersonSelect: function (value) {
      console.log(value)
      this.$router.push({name: 'person', params: { personId: value._id}})
    },
    onPageSelect: function (value) {
      console.log(`The selected page button is: ${value}`)
      this.pageByLetter = true
      if (value == '#') {
        value = '[0-9]'
      }
      this.currentLetter = value
      this.$http.get(`/api/users/letter/${value}/1`)
      .then(function(res) {
        this.personel = res.body
      })
    },
    addPerson: function () {
      this.$router.push({name: 'personAdd'})
    },
    previous: function() {
      let prevPage = +this.personel.page - 1
      if (prevPage == 0) {
        return
      } else {

        if(this.pageByLetter){
          this.$http.get(`/api/users/letter/${this.currentLetter}/${prevPage}`)
          .then(function(res) {
            this.personel = res.body
          })
        } else {
          this.$http.get(`/api/users/page/${prevPage}`)
          .then(function(res) {
            this.personel = res.body
          })
        }

      }
    },
    next: function () {
      let nextPage = +this.personel.page + 1

      if(this.pageByLetter){
        this.$http.get(`/api/users/letter/${this.currentLetter}/${nextPage}`)
        .then(function(res) {
          this.personel = res.body
        })
      } else {
        this.$http.get(`/api/users/page/${nextPage}`)
        .then(function(res) {
          this.personel = res.body
        })
      }

    }
  },
  created: function () {
    this.getPersonel()
    this.getAllPersonel()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
