<template>
<div class="content" id="person">

  <div class="row">
    <form class="form">
      <h1>Personel Name <span class="pull-right"><span v-if="!person.isActive" class="label label-info">User Disabled</span></span></h1>
      <div class="form-group">
          <div class="row">
            <div class="col-sm-5">
              <label class="control-label">First Name</label>
              <input type="text" class="form-control" v-model="person.fname">
            </div>
            <div class="col-sm-2">
              <label class="control-label">Middle Int</label>
              <input type="text" class="form-control" v-model="person.mIntial">
            </div>
            <div class="col-sm-5">
              <label class="control-label">Last Name</label>
              <input type="text" class="form-control" v-model="person.lname" >
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Title</label>
          <input type="text" class="form-control" v-model="person.title">
        </div>
        <div class="form-group">
          <label class="control-label">Department</label>
          <autocomplete :int-value="person.department.name" :options="allDepartments" @select="onDepartmentSelect" ref="depAutoComp"/>
        </div>
        <div class="form-group">
          <label class="control-label">Emergency Call From</label>
          <input type="text" class="form-control" v-model="person.emergencyCallFrom">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-8">
              <label class="control-label">Office Phone</label>
              <input type="text" class="form-control" v-model="person.officePhone" placeholder="222-333-4455">
            </div>
            <div class="col-sm-4">
              <label class="control-label">Ext</label>
              <input type="text" class="form-control" v-model="person.officePhoneExt">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label class="control-label">Home Phone</label> 
              <input type="text" class="form-control" v-model="person.homePhone" placeholder="222-333-4455">
            </div>
            <div class="col-sm-6">
              <label class="control-label">Mobile Phone</label>
              <input type="text" class="form-control" v-model="person.mobilePhone" placeholder="222-333-4455">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="ccontrol-label">Email</label>
          <input type="text" class="form-control" v-model="person.email" placeholder="vader@empire.net">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label class="control-label">User Allowed to Login?</label>
              <br>
              <toggle-button :value="person.loginAllowed" :sync="true" @change="updateLoginAllowed" :width="75" :labels="{checked: 'Yes', unchecked: 'No'}"/>
            </div>
            <div class="col-sm-6">
              <label class="control-label">Login Password</label>
              <div class="input-group">
                <input type="password" class="form-control" v-model="person.password" :disabled="passwordDisabled" ref="loginPasswordTxt">
                <span class="input-group-btn">
                  <button class="btn btn-warning" @click.prevent="resetPassword">Reset Password</button>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label class="control-label">User has admin rights?</label>
            <br>
            <toggle-button :value="person.admin" :sync="true" @change="updateAdmin" :width="75" :labels="{checked: 'Yes', unchecked: 'No'}"/>
          </div>
          <div class="col-sm-6">
            <label class="control-label">User account is active?</label>
            <br>
            <toggle-button :value="person.isActive" :sync="true" @change="updateIsActive" :width="75" :labels="{checked: 'Yes', unchecked: 'No'}"/>
          </div>
        </div>

        <hr>
        <button class="btn btn-danger pull-left" @click.prevent="delPerson" ><i class="fa fa-trash"></i> Delete</button>
        <button class="btn btn-success pull-right" @click.prevent="savePerson" ><i class="fa fa-floppy-o"></i> Save Person</button>
    </form>
  </div>

</div><!-- // .content -->

</template>

<script>
import Autocomplete from './mycomponents/autocomplete.vue'

export default {
  name: 'person',
  components: {
    Autocomplete
  },
  computed: {
    departmentName: function () {
      return this.person.department.name
    }
  },
  data () {
    return {
      allDepartments: [],
      person: {
        department: {
          name: "",
          _id: ""
        },
        email: "",
        emergencyCallFrom: "",
        fname: "",
        lname: "",
        mIntial: "",
        officePhone: "",
        officePhoneExt: "",
        title: "",
        loginAllowed: false,
        password: "",
        admin: false,
        isActive: true,
        updatePassword: false
      },
      passwordDisabled: true,
    }
  },
  methods: {
    getPerson () {
      let personId = this.$route.params.personId
      this.$store.loading = true
      this.$http.get(`/api/users/${personId}`)
      .then(function(res) {
        console.log(res)
        if(res.body.department == null){
          delete res.body['department']
        }
        Object.assign(this.person, res.body)
        //this.person = res.body
        this.$store.loading = false
      })
      .catch(function(err){
        console.log(err)
      })
    },
    getAllDepartments () {
      this.$http.get('/api/departments')
      .then(function(res) {
        this.allDepartments = res.body
      })
    },
    savePerson () {
      let personId = this.$route.params.personId

      //make sure the password isnt blank
      if(this.person.updatePassword && this.$refs.loginPasswordTxt.value.trim() == ""){
        this.$swal({
          title: 'Sorry',
          text: 'Password cannot be blank!',
          type: 'info',
          confirmButtonColor: '#3085d6'
        })
        return
      }
      //depopulate deparment
      let deptId = this.person.department._id
      this.person.department = deptId
      //console.log(this.person)
      this.$http.put(`/api/users/${personId}`, this.person)
      .then(function(res){
        console.log('User Saved')
        console.log(res)
        this.$toasted.success("Personel saved successfully.", {duration : 3500})
      }).catch(function(err){
        this.$toasted.error("Save failed.", {duration : 3500})
        console.log(`Woops, something went wrong! Err: ${err}`)
      })
    },
    resetPassword () {
      this.person.updatePassword = true
      this.passwordDisabled = false
      this.person.password = ""
      this.$refs.loginPasswordTxt.focus()
    },
    delPerson () {
      let personId = this.$route.params.personId
      let self = this
      this.$swal({
        title: 'Are you sure?',
        text: "Are you sure you want to totally delete this user? Maybe you just want to set this user to 'Disabled'? ",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Delete User'
      }).then(function () {
        self.$http.delete(`/api/users/${personId}`)
        .then(res => {
          self.$toasted.success("User Successfully Deleted", {duration: 3500})
          self.$router.push("/personel")
        })
      }, function() {
        console.log('Delete Canceled')
      })
    },
    onDepartmentSelect (val) {
      
      this.person.department = {_id: val._id, name: val.name}
    },
    updateLoginAllowed (val) {
      this.person.loginAllowed = val.value
    },
    updateAdmin (val) {
      this.person.admin = val.value
    },
    updateIsActive (val) {
      this.person.isActive = val.value
    }
  },
  created () {
    
    this.getAllDepartments()
    this.getPerson()
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

  .btn-success {
    margin-left: 5px;
  }

</style>
