<template>
    <div id="resources">

      <h1>
        <span>Resources</span>
        <button class="btn btn-primary pull-right" @click.prevent="addResource"><i class="fa fa-plus"></i> Add Resource</button>
      </h1>
      <autocomplete :options="allResources" @select="onOptionSelect"></autocomplete>

      <paginate :totalPages="10" @pageSelect="onPageSelect"></paginate>

      <ul class="list-group">
        <!--
        <li v-for="resource in resources.docs"
            class="list-group-item"
            @mouseover="addActive(resource._id)"
            @mouseout="removeActive(resource._id)"
            :id="resource._id">
              <router-link :to="{ name: 'resource', params: { resourceId: resource._id } }">
                {{resource.name}}
                <i class="fa fa-chevron-right pull-right"></i>
              </router-link>
        </li>
        -->
        <router-link v-for="resource in resources.docs" :to="{ name: 'resource', params: { resourceId: resource._id } }" class="list-group-item" @mouseover="addActive(resource._id)" @mouseout="removeActive(resource._id)" :id="resource._id" :key="resource._id">
          {{resource.name}}
          <i class="fa fa-chevron-right pull-right"></i>
        </router-link>

      </ul>

      <nav class="pull-right">
        <ul class="pager">
          Total Resources: {{resources.total}} |
          Page {{resources.page}} of {{resources.pages}}
          <li v-bind:class="{ disabled: resources.page < 2 }"><a href="#" @click.prevent="previous">Previous</a></li>
          <li v-bind:class="{ disabled: resources.page == resources.pages }"><a href="#" @click.prevent="next">Next</a></li>
        </ul>
      </nav>



      <alert v-model="showAlert" placement="top" duration="3000" type="success" width="400px" dismissable>
        <span class="icon-ok-circled alert-icon-float-left"></span>
        <p>{{showAlertMsg}}</p>
      </alert>
    </div>
</template>

<script>
import Autocomplete from './mycomponents/autocomplete.vue'
import paginate from './mycomponents/paginate.vue'
import { alert } from 'vue-strap'

export default {
  name: 'resources',
  components: {
    Autocomplete,
    paginate,
    alert
  },
  data () {
    return {
      resources: [],
      allResources: [],
      loading: false,
      pageByLetter: false,
      currentLetter: ""
    }
  },
  computed: {
    showAlertMsg: function() {
      return this.$store.showAlertMsg
    },
    showAlert: function() {
      return this.$store.showAlert
    }
  },
  methods: {
    addActive: function(id){
      let thisLI = document.getElementById(id)
      thisLI.classList.add('active')
    },
    removeActive: function(id){
      let thisLI = document.getElementById(id)
      thisLI.classList.remove('active')
    },
    getResources: function () { //returns paginated results
      this.$store.loading = true
      this.$http.get('/api/resources/page/1')
      .then(function(res) {
        this.resources = res.body
        this.$store.loading = false
      })
    },
    getAllResources: function () {
      this.$http.get('/api/resources/all')
      .then(function(res) {
        this.allResources = res.body
      })
    },
    onOptionSelect: function (value) {
      console.log(value)
      this.$router.push({name: 'resource', params: { resourceId: value._id}})
    },
    onPageSelect: function (value) {
      console.log(`The selected page button is: ${value}`)
      this.pageByLetter = true
      if (value == '#') {
        value = '[0-9]'
      }
      this.currentLetter = value
      this.$http.get(`/api/resources/letter/${value}/1`)
      .then(function(res) {
        this.resources = res.body
      })
    },
    addResource: function () {
      this.$router.push({name: 'resourceAdd'})
    },
    previous: function() {
      let prevPage = +this.resources.page - 1
      if (prevPage == 0) {
        return
      } else {

        if(this.pageByLetter){
          this.$http.get(`/api/resources/letter/${this.currentLetter}/${prevPage}`)
          .then(function(res) {
            this.resources = res.body
          })
        } else {
          this.$http.get(`/api/resources/page/${prevPage}`)
          .then(function(res) {
            this.resources = res.body
          })
        }

      }
    },
    next: function () {
      let nextPage = +this.resources.page + 1

      if(this.pageByLetter){
        this.$http.get(`/api/resources/letter/${this.currentLetter}/${nextPage}`)
        .then(function(res) {
          this.resources = res.body
        })
      } else {
        this.$http.get(`/api/resources/page/${nextPage}`)
        .then(function(res) {
          this.resources = res.body
        })
      }

    }
  },
  created: function () {
    this.getResources()
    this.getAllResources()
    if (this.showAlert == true){
      let myThis = this
      setTimeout(function(){
        myThis.$store.showAlertMsg = ""
        myThis.$store.showAlert = false
      }, 3500)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
