<template>
<div class="content" id="resource">
  <alert v-model="showAlert" placement="top" duration="3000" type="success" width="400px" dismissable>
    <span class="icon-ok-circled alert-icon-float-left"></span>
    <p>{{showAlertMsg}}</p>
  </alert>

  <div class="row">
    <form class="form">
      <div class="alert alert-info" v-show="resourceEdited">
        <strong>Resource edited:</strong> Press <span class="label label-success"><i class="fa fa-floppy-o"></i> Save Resource</span> to save your changes.
      </div>
      <h1>Resource Name</h1>
      <div class="form-group">
        <input type="text" class="form-control input-lg" v-model="resource.name">
      </div>
      <div class="form-group">
        <label class="control-label">Description</label>
        <textarea v-model="resource.description" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label class="control-label">Notes:</label>
        <textarea v-model="resource.notes" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label class="control-label">Type</label>
        <select class="form-control" v-model="resource.type">
          <option v-for="type of resourceTypes" v-bind:value="type._id">{{type.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label">RTO</label>
        <select class="form-control" v-model="resource.RTO">
          <option v-for="rto in rtoValues" v-bind:value="rto._id">{{rto.name}} - {{rto.RTO}} {{rto.RTOTimeValueType}}</option>
        </select>
      </div>

      <div class="form-group">
        <label class="ccontrol-label">RPO</label>
        <input type="text" class="form-control" v-model="resource.RPO" placeholder="eg. 24 Hours">
      </div>
      <div class="form-group">
        <strong>DR Test Required?</strong><br />
        <label class="radio-inline btn btn-default" :class="{ active: resource.DRTestRequired == true }">
          <input type="radio" v-model="resource.DRTestRequired" :value="true">Yes</input>
        </label>
        <label class="radio-inline btn btn-default" :class="{ active: resource.DRTestRequired == false }">
          <input type="radio" v-model="resource.DRTestRequired" :value="false">No</input>
        </label>
      </div>

      <h4>
        <span>This Resource depends on these resources:</span>
      </h4>


      <ul class="list-group" id="dependentResourceList">
        <li class="list-group-item" v-for="dependent in dependents">
          {{dependent.name}} <a class="btn btn-danger btn-xs pull-right" v-on:click="showRemoveDepConfirm(dependent)"><i class="fa fa-close"></i></a>
        </li>
      </ul>

      <div v-if="dependents.length < 1">
        <i>No dependant resources selected yet ...</i>
        <hr>
      </div>

      <h4>Add a resource</h4>
      <autocomplete :options="allResources" :clearValueAfterSelect="true" @select="onDependantSelect"></autocomplete>

      <button class="btn btn-success pull-right" @click.prevent="saveResource" ><i class="fa fa-floppy-o"></i> Save Resource</button>
      <button class="btn btn-danger pull-left" @click.prevent="showRemoveResourceConfirm"><i class="fa fa-trash"></i> Delete</button>
    </form>
  </div>



  <!-- //// Remove dependent Modal \\\\ -->
  <modal v-model="removeDepConfirm" effect="fade">
    <!-- custom header -->
    <div slot="modal-header" class="modal-header">
      <h4 class="modal-title">
        Remove Dependent Resource
      </h4>
    </div>
    <div slot="modal-body" class="modal-body">
      <h4>Are you sure you want to remove this dependent resource?</h4>
      Resource to remove: {{depToRemove.name}}<br />
      <small>Note: This action does note delete the resource, only removes it as a dependancy. </small>
    </div><!-- // End #frmAddContact -->
    <!-- custom buttons -->
    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-default" @click="removeDepConfirm = false">Cancel</button>
      <button type="button" class="btn btn-warning" @click="removeDep(depToRemove._id, $event)">Remove</button>
    </div>
  </modal><!-- End removeBpConfirm -->

  <!-- //// Delete Modal \\\\ -->
  <modal v-model="removeResourceConfirm" effect="fade">
    <!-- custom header -->
    <div slot="modal-header" class="modal-header">
      <h4 class="modal-title">
        Delete Resource
      </h4>
    </div>
    <div slot="modal-body" class="modal-body">
      <h4>Are you sure you want to delete this resource?</h4>
      Resource to delete: {{resource.name}}<br />
      <small>Note: This action can not be undone!</small>
    </div><!-- // End #frmAddContact -->
    <!-- custom buttons -->
    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-default" @click="removeResourceConfirm = false">Cancel</button>
      <button type="button" class="btn btn-danger" @click="deleteResource"><i class="fa fa-trash"></i> Delete</button>
    </div>
  </modal><!-- End removeBpConfirm -->

</div><!-- // .content -->

</template>

<script>
import Autocomplete from './mycomponents/autocomplete.vue'
import { alert } from 'vue-strap'
import { modal } from 'vue-strap'

export default {
name: 'resourceAdd',
components: {
  Autocomplete,
  alert,
  modal
},
computed: {
  showAlertClass: function() {
    return this.$store.showAlertClass
  },
  showAlertMsg: function() {
    return this.$store.showAlertMsg
  },
  showAlert: function() {
    return this.$store.showAlert
  },
  dependents: function() {
    return this.selectedDependants
  }
},
data () {
  return {
    depToRemove: {
      name: "",
      _id: null
    },
    allResources: [], //return resources for the autocomplete
    rtoValues: [],
    resourceTypes: [],
    selectedDependants: [],
    resource: {},
    loading: false,
    removeDepConfirm: false,
    resourceEdited: false,
    removeResourceConfirm: false
  }
},
methods: {
  updateResourceEdited: function () {
    console.log("keyup!")
    if(!this.resourceEdited){
      this.resourceEdited = true
    }
  },
  cancel: function() {
    this.$router.go(-1)
  },
  onDependantSelect: function(resource) {
    this.selectedDependants.push(resource)
    this.resource.dependencies.push({ "_id" :resource._id })
    this.resourceEdited = true
  },
  removeDep: function(dependentId) {
    this.removeDepConfirm = false
    //first remove from selectedDependants
    let obj = this.selectedDependants.find(function (item){
      return item._id == dependentId
    })
    let index = this.selectedDependants.indexOf(obj)
    this.selectedDependants.splice(index, 1)
    //then remove from resource.dependencies
    let obj2 = this.resource.dependencies.find(function (item){
      return item._id == dependentId
    })
    let index2 = this.resource.dependencies.indexOf(obj2)
    this.resource.dependencies.splice(index2, 1)
    this.resourceEdited = true
  },
  showRemoveDepConfirm: function(dependent, event) {
    if (event) event.preventDefault()
    this.depToRemove = dependent
    this.removeDepConfirm = true
  },
  saveResource: function () {
    this.resourceEdited = false
    console.log("Clicked")
    let dependencyIds = [] //first de-populate the dependencies Array
    let cntr = 0
    let self = this
    if(this.resource.dependencies.length > 0){
      this.resource.dependencies.forEach(function(dependent){
        dependencyIds.push(dependent._id)
        cntr++
        //console.log(cntr)
        if(cntr == self.resource.dependencies.length) {
          //console.log('reached array len')
          //console.log(dependencyIds)
          self.resource.dependencies = dependencyIds
          //console.log(self.resource.dependencies)

          self.$http.put('/api/resource', self.resource)
          .then(function(res) {
            self.$store.showAlertMsg = "Resource Updated Successfully"
            self.$store.showAlert = true
            setTimeout(function(){
              self.$store.showAlertMsg = ""
              self.$store.showAlert = false
            }, 3500)
          })

        }
      })
    } else {
      self.$http.put('/api/resource', self.resource)
      .then(function(res) {
        self.$store.showAlertMsg = "Resource Updated Successfully"
        self.$store.showAlert = true
      })
    }


  },
  getAllResources: function () {
    this.$http.get('/api/resources/all')
    .then(function(res) {
      this.allResources = res.body
    })
  },
  getRTOValues: function () {
    this.$http.get('/api/resources/rtovalues')
    .then(function (res){
      this.rtoValues = res.body
    })
  },
  getResourceTypes: function () {
    this.$http.get('/api/resources/types')
    .then(function (res){
      this.resourceTypes = res.body
    })
  },
  getResource: function () {
    this.$store.loading = true
    let self = this
    this.$http.get(`/api/resource/${this.$route.params.resourceId}`)
    .then(function(res) {
      self.resource = res.body
      console.log(res)
      this.$store.loading = false

      self.resource.dependencies.forEach(function(dependent){
        self.selectedDependants.push(dependent)
      })

    })
    .catch(function(err){
      console.log(`Woops, Error: ${err}`)
      self.error = err
    })
  },
  showRemoveResourceConfirm: function () {
    this.removeResourceConfirm = true
  },
  deleteResource: function () {
    this.$http.delete(`/api/resource/${this.$route.params.resourceId}`)
    .then(function (res){
      console.log(res)
      this.$store.showAlertMsg = "Resource deleted successfully."
      this.$store.showAlert = true
      this.$router.go(-1)
    })
  }
},
created () {
  this.getAllResources()
  this.getRTOValues()
  this.getResourceTypes()
  this.getResource()
  //Make sure to remove any alerts triggered by other pages...
  if (this.showAlert == true){
    let myThis = this
    setTimeout(function(){
      myThis.$store.showAlertMsg = ""
      myThis.$store.showAlert = false
    }, 3500)
  }
}
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.input-lg {
  font-weight: bold;
}
.btn-success {
  margin-left: 5px;
}
#contactsList {
  margin-top: 15px;
}

@media(min-width:768px) {

  #menu-toggle{
    display: none;
  }

}
</style>
