<template>
    <div id="sidebar-wrapper">
      <button class="btn btn-primary pull-right" id="sidebar-close-btn" @click="closeSidebar"><i class="fa fa-window-close-o"></i></button>
      <div class="top-header">
        <h4>OceanFirst</h4>
      </div>

      <div class="list-group sidebar-nav">
        <a class="list-group-item" href="/" :class="[$route.path == '/newsfeed' ? 'active' : '']"><i class="fa fa-newspaper-o"></i> News Feed</a>
        <a class="list-group-item" href="#" :class="[$route.path == '/settings' ? 'active' : '']" @click.prevent="callToast"><i class="fa fa-gear"></i> Settings</a>  
      </div>

      <div class="list-group sidebar-nav">
        <li class="list-group-item section-header">
          Tables
        </li>
        <a class="list-group-item" v-for="table in tables" :class="[$route.path == table.link ? 'active' : '']" @click.prevent="goto(table.link)">
          <i v-if="table.icon" class="fa" :class="table.icon"></i> {{table.name}}
        </a>
      </div>
      
    </div><!-- /#sidebar-->
</template>

<script>
import isMobile from 'ismobilejs'

export default {
  name: 'sidebar',
  created: function() {
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      user: this.$store.user,
      reports: [{
        name: "Some Report 1",
        link: "/someReport1",
        icon: "fa-file-text-o"
      },{
        name: "Some Report 2",
        link: "/someReport2",
        icon: "fa-file-text-o"
      }],
      tables: [{
        name: "Departments",
        link: "/departments",
        icon: "fa-building-o"
      },{
        name: "Vendors",
        link: "/vendors",
        icon: "fa-cubes",
      },{
        name: "Vendor Contacts",
        link: "/venderContacts",
        icon: "fa-cubes"
      },{
        name: "Business Processes",
        link: "/business-processes",
        icon: "fa-cogs"
      },{
        name: "Resources",
        link: "/resources",
        icon: "fa-cog"
      },{
        name: "Sites",
        link: "/sites",
        icon: "fa-map-marker"
      },{
        name: "Personel",
        link: "/personel",
        icon: "fa-users"
      },
    ]
    }
  },
  methods: {
    callToast () {
      this.$toasted.success("hello!! HellOO!", {duration: 3000})
    },
    logout: function () {
      this.$destroyToken()
      this.user = {}
      this.$router.push('/login')
    },
    closeSidebar: function () {
      let sideBar = document.getElementById('sidebar-wrapper')
      sideBar.style.width = "0px"
    },
    goto: function (path) {
      this.$router.push({ path: path })
      if (isMobile.any) {
        this.closeSidebar()
      }
    },
    addBug: function () {
      this.$router.push('/bugAdd')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

/* Sidebar Styles */
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background-color: #FFF;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 2px 0px 3px #CCC;
}

#sidebar-close-btn {
  margin-top: 5px;
  margin-right: 5px;
}
.top-header {
  margin-right: 6px;
  margin-left: 6px;
}
.sidebar-nav {
  margin-right: 6px;
  margin-left: 6px;
}
.sidebar-footer {
  margin-right: 6px;
  margin-left: 6px;
}
.childLink {
  margin-left:16px;
  font-size: .8em;
}
#bugBtn {
  margin-bottom: 5px;
}

@media(min-width:768px) {

    #sidebar-wrapper {
        width: 250px;
    }
    #sidebar-close-btn {
      display: none;
    }

}
</style>
