  <template>
  <div class="content">
    <div class="row">
      <h1>
        Add New Resource:
      </h1>
      <form class="form">
        <div class="form-group">
          <label class="control-label">Name</label>
          <input type="text" class="form-control" v-model="resource.name">
        </div>
        <div class="form-group">
          <label class="control-label">Description</label>
          <textarea v-model="resource.description" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label">Notes</label>
          <input type="text" class="form-control" v-model="resource.notes">
        </div>
        <div class="form-group">
          <label class="control-label">Type</label>
          <select class="form-control" v-model="resource.type">
            <option v-for="type of resourceTypes" v-bind:value="type._id">{{type.name}}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="control-label">RTO</label>
          <select class="form-control" v-model="resource.RTO">
            <option v-for="rto in rtoValues" v-bind:value="rto._id">{{rto.name}} - {{rto.RTO}} {{rto.RTOTimeValueType}}</option>
          </select>
        </div>

        <div class="form-group">
          <label class="ccontrol-label">RPO</label>
          <input type="text" class="form-control" v-model="resource.RPO" placeholder="eg. 24 Hours">
        </div>
        <div class="form-group">
          <strong>DR Test Required?</strong><br />
          <label class="radio-inline btn btn-default" :class="{ active: resource.DRTestRequired == true }">
            <input type="radio" v-model="resource.DRTestRequired" value="true">Yes</input>
          </label>
          <label class="radio-inline btn btn-default" :class="{ active: resource.DRTestRequired == false }">
            <input type="radio" v-model="resource.DRTestRequired" value="false">No</input>
          </label>
        </div>

        <h4>
          <span>This Resource depends on these resources:</span>
        </h4>


        <ul class="list-group" id="dependentResourceList">
          <li class="list-group-item" v-for="dependent in dependents">
            {{dependent.name}} <i class="fa fa-close pull-right text-danger"></i>
          </li>
        </ul>

        <div v-if="dependents.length < 1">
          <i>No dependant resources selected yet ...</i>
          <hr>
        </div>

        <h4>Add a resource</h4>
        <autocomplete :options="allResources" :clearValueAfterSelect="true" @select="onDependantSelect"></autocomplete>


      </form>
    </div>
    <hr>

    <button class="btn btn-success pull-right" @click.prevent="addResource" ><i class="fa fa-floppy-o"></i> Save Resource</button>
    <button class="btn btn-default pull-right" @click.prevent="cancel" >Cancel</button>
  </div><!-- // .content -->

</template>

<script>
import Autocomplete from './mycomponents/autocomplete.vue'

export default {
  name: 'resourceAdd',
  components: {
    Autocomplete
  },
  computed: {
    showAlertClass: function() {
      return this.$store.showAlertClass
    },
    showAlertMsg: function() {
      return this.$store.showAlertMsg
    },
    showAlert: function() {
      return this.$store.showAlert
    },
    dependents: function() {
      return this.selectedDependants
    }
  },
  data () {
    return {
      allResources: [], //return resources for the autocomplete
      rtoValues: [],
      resourceTypes: [],
      selectedDependants: [],
      resource: {
        name: "",
        description: "",
        notes: "",
        DRTestRequired: false,
        dependencies: [],
      }
    }
  },
  methods: {
    cancel: function() {
      this.$router.go(-1)
    },
    onDependantSelect: function(resource) {
      this.selectedDependants.push(resource)
      this.resource.dependencies.push(resource._id)

    },
    addResource: function () {
      this.$http.post('/api/resource', this.resource)
      .then(function (res) {
        this.$store.showAlertMsg = "Resource Added Successfully"
        this.$store.showAlert = true
        this.$router.push('resources')
      })
    },
    getAllResources: function () {
      this.$http.get('/api/resources/all')
      .then(function(res) {
        this.allResources = res.body
      })
    },
    getRTOValues: function () {
      this.$http.get('/api/resources/rtovalues')
      .then(function (res){
        this.rtoValues = res.body
      })
    },
    getResourceTypes: function () {
      this.$http.get('/api/resources/types')
      .then(function (res){
        this.resourceTypes = res.body
      })
    }

  },
  created () {
    this.getAllResources()
    this.getRTOValues()
    this.getResourceTypes()
    //Make sure to remove any alerts triggered by other pages...
    if (this.showAlert == true){
      let myThis = this
      setTimeout(function(){
        myThis.$store.showAlertMsg = ""
        myThis.$store.showAlert = false
      }, 3500)
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #contactsList {
    margin-top: 15px;
  }

  @media(min-width:768px) {

    #menu-toggle{
      display: none;
    }

  }

</style>
