<template>
    <div id="sites">

      <h1>
        <span>
          Sites
        </span>
        <button class="btn btn-primary pull-right" @click.prevent="addSite"><i class="fa fa-plus"></i> Add Site</button>
      </h1>
      <autocomplete :options="allSites" @select="onSiteSelect"></autocomplete>

      <div class="btn-group" role="group">
        <button type="button" class="btn btn-info">All Sites</button>
        <button type="button" class="btn btn-default">Primary Sites</button>
        <button type="button" class="btn btn-default">Backup Sites</button>
      </div>
      <br/>&nbsp;<br/>

      <div class="col-md-6" v-for="site in sites">
          <div class="card">
              <div class="card-image">
                  <img class="img-responsive" :src="site.mapURL">
              </div>
              
              <div class="card-content">
                  <span class="card-title">{{site.name}}</span>
                  <p>{{site.description}}</p>
              </div>
              
              <div class="card-action">
                  <i class="fa fa-map-marker"></i> {{site.addressCity}}, {{site.addressState}}
                  <a class="pull-right btn btn-success">View Site</a>
              </div>
          </div>
      </div>

      <!--
      <ul class="list-group">
        <router-link v-for="site in sites" :to="{ name: 'site', params: { siteId: site._id } }" class="list-group-item" :key="site._id">
         {{site.name}}
        </router-link>

      </ul>
      -->

    </div>
</template>

<script>
import Autocomplete from './mycomponents/autocomplete.vue'


export default {
  name: 'sites',
  components: {
    Autocomplete
  },
  data () {
    return {
      sites: [],
      allSites: []
    }
  },
  computed: {

  },
  methods: {
    getSites: function () { //returns paginated results
      this.$store.loading = true
      this.$http.get('/api/sites')
      .then(function(res) {
        this.sites = res.body
        this.sites.forEach(function(site) {
          let baseURL = "https://maps.googleapis.com/maps/api/staticmap?center="
          let urlAddress = `${site.addressStreet1},+${site.addressCity},+${site.addressState}`
          let urlOptions = "&zoom=13&scale=2&size=275x90&maptype=roadmap&format=png&visual_refresh=true"
          let marker = `&markers=size:small%7Ccolor:0x0080ff%7Clabel:%7C${site.addressStreet1},+${site.addressCity},+${site.addressState}` 
          let apiKey = `&key=AIzaSyC0-e2aARvQWsK5tpzlpgyBHK1CNQ2WAqQ`
          site.mapURL = `${baseURL}${urlAddress}${urlOptions}${marker}${apiKey}`
        })

        this.$store.loading = false 

        let sitesArray = res.body.map(function(site) {
          let thisSite = {
            _id: site._id,
            name: site.name,
            description : `${site.addressStreet1}, ${site.addressCity}, ${site.addressState}`
          }
          return thisSite
        })
        this.allSites = sitesArray

      })
    },
    onSiteSelect: function (value) {
      console.log(value)
      this.$router.push({name: 'site', params: { siteId: value._id}})
    },
    addSite: function () {
      this.$router.push({name: 'siteAdd'})
    }
  },
  created: function () {
    this.getSites()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card span.card-title {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.card .card-image {
  position: relative;
  overflow: hidden;
}
.card .card-image img {
  border-radius: 2px 2px 0 0;
  background-clip: padding-box;
  position: relative;
  z-index: -1;
}
.card .card-image span.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
}

/*
.card .card-image {
    box-shadow: inset 0 -140px 100px -100px rgba(0,0,0,1);
}
*/
.card-content {
  height: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}
.card .card-action {
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 5px 5px 18px 10px;
  font-size: 1.3em
}
.card .card-action a {
  text-transform: uppercase;
}
.card .card-action a:hover {
  color: #ffd8a6;
  text-decoration: none;
}


.card .card-image ul {
    background: rgba(255,255,255,0.7);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
    border-radius: 2px;
}

.card .card-image .nav>li>a span {
    transition: 0.2s transform;
}

.card .card-image .nav>li>a:hover span, .card .card-image .nav>li>a:focus span {
    transform: translate(0, -4px);
}

.card .card-image .nav>li>a:hover, .card .card-image .nav>li>a:focus {
    background-color: transparent;
}

.card .card-action .label {
    padding: 10px; 
    margin: -5px;
}

</style>
