  <template>
  <div class="content">
    <div class="row">
      <h1>
        Add New Vendor:
      </h1>
      <form class="form">
        <div class="form-group">
          <label class="control-label">Vender Name</label>
          <input type="text" class="form-control input-lg" v-model="vender.name">
        </div>
        <div class="form-group">
          <label class="control-label">Description</label>
          <textarea class="form-control" v-model="vender.description"></textarea>
        </div>
        <div class="form-group">
          <label class="control-label">Account#</label>
          <input type="text" class="form-control" v-model="vender.accountNumber">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label class="control-label">Website</label>
              <input type="text" class="form-control" v-model="vender.website">
            </div>
            <div class="col-sm-6">
              <label class="control-label">Phone</label>
              <input type="text" class="form-control" v-model="vender.phone" >
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-6">
              <label class="control-label">Type</label>
              <select class="form-control" v-model="vender.type" >
                <option value="Supplier">Supplier</option>
                <option value="Manufacturer">Manufacturer</option>
                <option value="Service Provider">Service Provider</option>
                <option value="Reseller">Reseller</option>
                <option value="Manufacturer">Manufacturer</option>
              </select>
            </div>
            <div class="col-xs-6">
              <label class="control-label">Risk</label>
              <select class="form-control" v-model="vender.risk" placeholder="e.g. Critical, Key, or Normal">
                <option value="Critical">Critical</option>
                <option value="Key">Key</option>
                <option value="Normal">Normal</option>
              </select>
            </div>
          </div>
        </div>

        <hr>
        <h4>Main Address</h4>
        <div class="form-group">
          <label class="control-label">Street</label>
          <input type="text" class="form-control" v-model="vender.addressStreet1" >
        </div>
        <div class="form-group">
          <label class="control-label">Street 2</label>
          <input type="text" class="form-control" v-model="vender.addressStreet2" placeholder="e.g. APT 2, Ste 23, Unit 6, etc... ">
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-5">
              <label class="control-label">City</label>
              <input type="text" class="form-control" v-model="vender.addressCity" placeholder="City">
            </div>
            <div class="col-xs-3">
              <label class="control-label">State</label>
              <input type="text" class="form-control" v-model="vender.addressState" placeholder="State">
            </div>
            <div class="col-xs-4">
              <label class="control-label">Zip</label>
              <input type="text" class="form-control" v-model="vender.addressZip" placeholder="Zip">
            </div>
          </div>
        </div>


        <hr>
        <h4>
          <span>Contacts</span>
          <button class="btn btn-default pull-right" @click.prevent="showContactsModal = true" >
            <i class="fa fa-plus"></i> Add new Contact
          </button>
        </h4>

        <div v-if="contactList" class="row">
        <ul class="list-group" id="contactsList">
          <li class="list-group-item" v-for="contact in selectedContacts">
            {{contact.name}} <small> - {{contact.officePhone}} <span v-if="contact.officePhoneExt">Ext. {{contact.officePhoneExt}}</span> <span v-if="contact.email">- {{contact.email}}</span></small>
            <button class="btn btn-xs btn-danger pull-right" @click.prevent="showRemoveContactConfirm(contact)" >
              <i class="fa fa-close"></i>
            </button>
          </li>
        </ul>
        </div>
        <div v-if="contactList.length < 1">
          <i>No contacts selected...</i>
          <hr>
        </div>

        ...or search existing contacts:
        <autocomplete :options="contacts" @select="onContactSelect"></autocomplete>


      </form>

    <modal v-model="showContactsModal" effect="fade" :large="true">
      <!-- custom header -->
      <div slot="modal-header" class="modal-header">
        <h4 class="modal-title">
          Add New Contact
        </h4>
      </div>
      <div id="frmAddContact" slot="modal-body" class="modal-body">
        <h4>Add a new contact for Vendor: {{vender.name}}</h4>
        <div class="form-group col-xs-6">
          <label>First Name</label>
          <input type="text" class="form-control" v-model="newContact.fname">
        </div>
        <div class="form-group col-xs-6">
          <label>Last Name</label>
          <input type="text" class="form-control" v-model="newContact.lname">
        </div>
        <div class="form-group col-xs-12">
          <label>Title</label>
          <input type="text" class="form-control" v-model="newContact.title">
        </div>
        <div class="form-group col-xs-12">
          <label>Email</label>
          <input type="text" class="form-control" v-model="newContact.email">
        </div>
        <div class="form-group col-xs-9">
          <label>Office Phone</label>
          <input type="text" class="form-control" v-model="newContact.officePhone">
        </div>
        <div class="form-group col-xs-3">
          <label>Extension</label>
          <input type="text" class="form-control" v-model="newContact.officePhoneExt">
        </div>
        <div class="form-group col-xs-12">
          <label>Mobile Phone</label>
          <input type="text" class="form-control" v-model="newContact.mobilePhone">
        </div>
        <div class="form-group col-xs-12">
          <label>Fax</label>
          <input type="text" class="form-control" v-model="newContact.fax">
        </div>
      </div><!-- // End #frmAddContact -->
      <!-- custom buttons -->
      <div slot="modal-footer" class="modal-footer">
        <button type="button" class="btn btn-default" @click="showContactsModal = false">Exit</button>
        <button type="button" class="btn btn-success" @click="addNewContact">Save</button>
      </div>
    </modal>

    <hr>

    <button class="btn btn-success pull-right" @click.prevent="addVender" ><i class="fa fa-floppy-o"></i> Save Vendor</button>
    <button class="btn btn-default pull-right" @click.prevent="cancel" >Cancel</button>
  </div>
</div><!-- // .content -->
</template>

<script>
import Autocomplete from './mycomponents/autocomplete.vue'
import { modal } from 'vue-strap'

export default {
  name: 'venderAdd',
  components: {
    Autocomplete,
    modal
  },
  created () {

  },
  computed: {
    contactList: function(){
      return this.selectedContacts
    }
  },
  data () {
    return {
      contacts: [], //return contacts for the autocomplete
      newContact: { //new Contact to add
        fname: "",
        lname: ""
      },
      selectedContacts: [],  //this is the list group of contacts to add to vender
      showContactsModal: false,
      vender: {
        name: "",
        description: "",
        accountNumber: "",
        addressStreet1: "",
        addressStreet2: "",
        addressCity: "",
        addressZip: "",
        website: "",
        phone: "",
        type: "", // Supplier, Manufacturer, Service Provider
        risk: "", // Critical, Key, Normal
        contacts: []
      }
    }
  },
  methods: {
    cancel: function() {
      this.$router.go(-1)
    },
    onContactSelect: function(contact) {
      this.vender.contacts.push(contact._id)
      this.selectedContacts.push(contact)
    },
    addVender: function () {
      this.$http.post('/api/vender', this.vender)
      .then(function (res) {
        this.$store.showAlertMsg = "Vendor Added Successfully"
        this.$store.showAlert = true
        this.$router.push('vendors')
      })
    },
    addNewContact: function () {

      console.log(this.newContact)

      //post to /api/contact, return _id of new contact, add to selectedcontacts[], add to vender.contacts[]
      this.$http.post('/api/contact', this.newContact)
      .then(function(res) {
        this.vender.contacts.push(res.body._id)
        res.body.name = `${res.body.fname} ${res.body.lname}`
        this.selectedContacts.push(res.body)
        //console.log(`Returned Id: ${res.body._id}`)
        this.showContactsModal = false
      })
    },
    getContacts: function () {

      this.$http.get('/api/contactids')
      .then(function(res){
        let resContacts = []
        let counter = 0
        let vuethis = this

        res.body.forEach(function(contact, index){
          let name = `${contact.fname} ${contact.lname}`
          let _id = contact._id
          let objContact = {name : name, _id: _id}
          resContacts.push(objContact)
          counter++
          if(counter == res.body.length){
            vuethis.contacts = resContacts
          }
        })
      })
    }
  },
  created () {
    this.getContacts()
    if(this.$route.query.name){
      this.vender.name = this.$route.query.name
    }
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  #contactsList {
    margin-top: 15px;
  }

  @media(min-width:768px) {

    #menu-toggle{
      display: none;
    }

  }
</style>
