<template>
<div class="content">
  <div class="alert alert-info" v-show="venderEdited">
    <strong>Vender edited:</strong> Press <span class="label label-success"><i class="fa fa-floppy-o"></i> Save Vender</span> to save your changes.
  </div>
  <alert v-model="showAlert" placement="top" duration="3000" type="success" width="400px" dismissable>
    <span class="icon-ok-circled alert-icon-float-left"></span>
    <p>Vendor Updated Successfully</p>
  </alert>
  <div class="row">
    <form class="form">
      <h1>Vender Name:</h1>
      <div class="form-group">
        <input type="text" class="form-control input-lg" v-model="vender.name">
      </div>
      <div class="form-group">
        <label class="control-label">Description</label>
        <textarea class="form-control" v-model="vender.description"></textarea>
      </div>
      <div class="form-group">
        <label class="control-label">Account#</label>
        <input type="text" class="form-control" v-model="vender.accountNumber">
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-6">
            <label class="control-label">Website</label>
            <input type="text" class="form-control" v-model="vender.website">
          </div>
          <div class="col-sm-6">
            <label class="control-label">Phone</label>
            <input type="text" class="form-control" v-model="vender.phone" >
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-6">
            <label class="control-label">Type</label>
            <select class="form-control" v-model="vender.type" >
              <option value="Supplier">Supplier</option>
              <option value="Manufacturer">Manufacturer</option>
              <option value="Service Provider">Service Provider</option>
              <option value="Reseller">Reseller</option>
              <option value="Manufacturer">Manufacturer</option>
            </select>
          </div>
          <div class="col-xs-6">
            <label class="control-label">Risk</label>
            <select class="form-control" v-model="vender.risk" placeholder="e.g. Critical, Key, or Normal">
              <option value="Critical">Critical</option>
              <option value="Key">Key</option>
              <option value="Normal">Normal</option>
            </select>
          </div>
        </div>
      </div>

      <hr>
      <h4>Main Address</h4>
      <div class="form-group">
        <label class="control-label">Street</label>
        <input type="text" class="form-control" v-model="vender.addressStreet1" >
      </div>
      <div class="form-group">
        <label class="control-label">Street 2</label>
        <input type="text" class="form-control" v-model="vender.addressStreet2" placeholder="e.g. APT 2, Ste 23, Unit 6, etc... ">
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-5">
            <label class="control-label">City</label>
            <input type="text" class="form-control" v-model="vender.addressCity" placeholder="City">
          </div>
          <div class="col-xs-3">
            <label class="control-label">State</label>
            <input type="text" class="form-control" v-model="vender.addressState" placeholder="State">
          </div>
          <div class="col-xs-4">
            <label class="control-label">Zip</label>
            <input type="text" class="form-control" v-model="vender.addressZip" placeholder="Zip">
          </div>
        </div>
      </div>


      <hr>
      <h4>
        <span>Contacts</span>
        <button class="btn btn-default pull-right" @click.prevent="showContactsModal = true" >
          <i class="fa fa-plus"></i> Add new Contact
        </button>
      </h4>

      <div v-if="contactList" class="row">
      <ul class="list-group" id="contactsList">
        <li class="list-group-item" v-for="contact in selectedContacts">
          {{contact.name}} <small> - {{contact.officePhone}} <span v-if="contact.officePhoneExt">Ext. {{contact.officePhoneExt}}</span> <span v-if="contact.email">- {{contact.email}}</span></small>
          <button class="btn btn-xs btn-danger pull-right" @click.prevent="showRemoveContactConfirm(contact)" >
            <i class="fa fa-close"></i>
          </button>
        </li>
      </ul>
      </div>
      <div v-if="contactList.length < 1">
        <i>No contacts selected...</i>
        <hr>
      </div>

      ...or search existing contacts:
      <autocomplete :options="contacts" @select="onContactSelect"></autocomplete>


    </form>
  </div>

  <div >



    <modal v-model="showContactsModal" effect="fade" :large="true">
      <!-- custom header -->
      <div slot="modal-header" class="modal-header">
        <h4 class="modal-title">
          Add New Contact
        </h4>
      </div>
      <div id="frmAddContact" slot="modal-body" class="modal-body">
        <h4>Add a new contact for Vendor: {{vender.name}}</h4>
        <div class="form-group col-xs-6">
          <label>First Name</label>
          <input type="text" class="form-control" v-model="newContact.fname">
        </div>
        <div class="form-group col-xs-6">
          <label>Last Name</label>
          <input type="text" class="form-control" v-model="newContact.lname">
        </div>
        <div class="form-group col-xs-12">
          <label>Title</label>
          <input type="text" class="form-control" v-model="newContact.title">
        </div>
        <div class="form-group col-xs-12">
          <label>Email</label>
          <input type="text" class="form-control" v-model="newContact.email">
        </div>
        <div class="form-group col-xs-9">
          <label>Office Phone</label>
          <input type="text" class="form-control" v-model="newContact.officePhone">
        </div>
        <div class="form-group col-xs-3">
          <label>Extension</label>
          <input type="text" class="form-control" v-model="newContact.officePhoneExt">
        </div>
        <div class="form-group col-xs-12">
          <label>Mobile Phone</label>
          <input type="text" class="form-control" v-model="newContact.mobilePhone">
        </div>
        <div class="form-group col-xs-12">
          <label>Fax</label>
          <input type="text" class="form-control" v-model="newContact.fax">
        </div>
      </div><!-- // End #frmAddContact -->
      <!-- custom buttons -->
      <div slot="modal-footer" class="modal-footer">
        <button type="button" class="btn btn-default" @click="showContactsModal = false">Exit</button>
        <button type="button" class="btn btn-success" @click="addNewContact">Save</button>
      </div>
    </modal>
  </div>
  <hr>

  <button  class="btn btn-success pull-right" @click.prevent="updateVender" ><i class="fa fa-floppy-o"></i> Save Vendor</button>
  <button  class="btn btn-danger pull-left" @click.prevent="delVenderConf" ><i class="fa fa-trash"></i> Delete Vendor</button>


</div><!-- // .content -->

</template>

<script>
import Autocomplete from './mycomponents/autocomplete.vue'

import { modal } from 'vue-strap'
import { alert } from 'vue-strap'


export default {
  name: 'venderAdd',
  components: {
    Autocomplete,
    modal,
    alert
  },
  created () {

  },
  computed: {
    contactList: function(){
      return this.selectedContacts
    },
    loading: function () {
      return this.$store.loading
    }
  },
  data () {
    return {
      showAlert: false,
      venderEdited: false,
      contacts: [], //return contacts for the autocomplete
      newContact: { //new Contact to add
        fname: "",
        lname: ""
      },
      selectedContacts: [],  //this is the list group of contacts to add to vender
      showContactsModal: false,
      deleteVenderConfirm: false,
      vender: {
        name: "",
        description: "",
        accountNumber: "",
        addressStreet1: "",
        addressStreet2: "",
        addressCity: "",
        addressState: "",
        addressZip: "",
        website: "",
        phone: "",
        type: "", // Supplier, Manufacturer, Service Provider
        risk: "", // Critical, Key, Normal
        contacts: []
      }
    }
  },
  methods: {
    getVender: function(){
      let venderId = this.$route.params.venderId
      this.$store.loading = true
      this.$http.get(`/api/vender/${venderId}`)
      .then(function(res) {
        let myThis = this
        this.vender = res.body
        this.$store.loading = false
        this.vender.contacts.forEach(function(contact){
          let contactObj = contact
          contactObj.name = `${contact.fname} ${contact.lname}`
          myThis.selectedContacts.push(contactObj)
        })

      })
      .catch(function(err){
        console.log(`Woops, Error: ${err}`)
        this.error = err
      })
    },
    onContactSelect: function(contact) {
      this.selectedContacts.push(contact)
      this.venderEdited = true
    },
    updateVender: function () {
      let contactids = []
      this.selectedContacts.forEach(function(contact){
        contactids.push(contact._id)
      })
      this.vender.contacts = contactids
      this.$http.put(`/api/vender/`, this.vender)
      .then(function (res) {
        this.$toasted.success("Vender saved successfully!", {duration: 3500})
        //console.log(res.body)
        this.venderEdited = false
      })
    },
    addNewContact: function () {

      console.log(this.newContact)

      //post to /api/contact, return _id of new contact, add to selectedcontacts[], add to vender.contacts[]
      this.$http.post('/api/contact', this.newContact)
      .then(function(res) {
        this.vender.contacts.push(res.body._id)
        res.body.name = `${res.body.fname} ${res.body.lname}`
        this.selectedContacts.push(res.body)
        //console.log(`Returned Id: ${res.body._id}`)
        this.showContactsModal = false
        this.venderEdited = true
      })
    },
    getContacts: function () {

      this.$http.get('/api/contactids')
      .then(function(res){
        let resContacts = []
        let counter = 0
        let vuethis = this

        res.body.forEach(function(contact, index){
          let name = `${contact.fname} ${contact.lname}`
          let _id = contact._id
          let objContact = {name : name, _id: _id}
          resContacts.push(objContact)
          counter++
          if(counter == res.body.length){
            vuethis.contacts = resContacts
          }
        })
      })
    },
    showRemoveContactConfirm: function(contact) {
      console.log(contact)

      let self = this
      this.$swal({
        title: 'Are you sure?',
        text: "You are about to remove this contact from this vender.",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Remove Contact'
      }).then(function () {
        self.removeContact(contact._id)

      }, function() {
        console.log('Remove contact Canceled')
      })

    },
    removeContact: function (contactId) {
      let obj = this.selectedContacts.find(function (item){
        return item._id == contactId
      })
      let index = this.selectedContacts.indexOf(obj)
      this.selectedContacts.splice(index, 1)
      this.$toasted.info("<i class='fa fa-info'></i> Contact is staged for removal. Use must press 'Save' for the removal to be permanant.", {duration: 6000})
      this.venderEdited = true
    },
    delVenderConf () {
      let self = this
      this.$swal({
        title: 'Are you sure?',
        text: "You are about to delete this vender. You won't be able to undo this!",
        type: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Yes, delete it!'
      }).then(function () {
        self.deleteVender()
      }, function() {
        console.log('Delete Canceled')
      })
    },
    deleteVender: function () {
      this.$http.delete(`/api/vender/${this.vender._id}`)
      .then(function(res){
        console.log(`Calling alerify`)
        this.$toasted.success("<i class='fa fa-cubes'></i> Vender Deleted Successfully", {duration: 3600})
        this.$router.go(-1)
      })
    }
  },
  created () {
    this.getVender()
    this.getContacts()

  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#contactsList {
  margin-top: 15px;
}
.btn {
  margin-left: 3px;
}

@media(min-width:768px) {

  #menu-toggle{
    display: none;
  }

}
</style>
