<template>
    <div id="venders">
      <h1>
        <span>Vendors</span>
        <button class="btn btn-primary pull-right" @click.prevent="addVender('')"><i class="fa fa-plus"></i> Add Vendor</button>
      </h1>
      <autocomplete :options="allVenders" @select="onOptionSelect" @noSelection="onNoSelection"></autocomplete>
      <paginate :totalPages="10" @pageSelect="onPageSelect"></paginate>

      <ul class="list-group">

        <li v-for="vender in venders.docs"
            class="list-group-item"
            @mouseover="addActive(vender._id)"
            @mouseout="removeActive(vender._id)"
            :id="vender._id">
              <router-link :to="{ name: 'vendor', params: { venderId: vender._id } }">
                {{vender.name}}
                <i class="fa fa-chevron-right pull-right"></i>
              </router-link>
        </li>

      </ul>

      <nav class="pull-right">
        <ul class="pager">
          Total Vendors: {{venders.total}} |
          Page {{venders.page}} of {{venders.pages}}
          <li v-bind:class="{ disabled: venders.page < 2 }"><a href="#" @click.prevent="previous">Previous</a></li>
          <li v-bind:class="{ disabled: venders.page == venders.pages }"><a href="#" @click.prevent="next">Next</a></li>
        </ul>
      </nav>

      <alert v-model="showAlert" placement="top" duration="3000" type="success" width="400px" dismissable>
        <span class="icon-ok-circled alert-icon-float-left"></span>
        <p>{{showAlertMsg}}</p>
      </alert>
    </div>
</template>

<script>
import Autocomplete from './mycomponents/autocomplete.vue'
import paginate from './mycomponents/paginate.vue'
import { alert } from 'vue-strap'

export default {
  name: 'venders',
  components: {
    Autocomplete,
    paginate,
    alert
  },
  data () {
    return {
      venders: [],
      allVenders: [],
      pageByLetter: false,
      currentLetter: ""
    }
  },
  computed: {
    showAlertMsg: function() {
      return this.$store.showAlertMsg
    },
    showAlert: function() {
      return this.$store.showAlert
    }
  },
  methods: {
    addActive: function(id){
      let thisLI = document.getElementById(id)
      thisLI.classList.add('active')
    },
    removeActive: function(id){
      let thisLI = document.getElementById(id)
      thisLI.classList.remove('active')
    },
    getVenders: function () { //returns paginated results
      this.$store.loading = true
      this.$http.get('/api/venders/page/1')
      .then(function(res) {
        this.venders = res.body
        this.$store.loading = false
      })
    },
    getAllVenders: function () {
      this.$http.get('/api/venders/all')
      .then(function(res) {
        this.allVenders = res.body
      })
    },
    onOptionSelect: function (value) {
      console.log(value)
      this.$router.push({name: 'vendor', params: { venderId: value._id}})
    },
    onNoSelection: function (val) {
      console.log(val)
      this.addVender(val)
    },
    onPageSelect: function (value) {
      console.log(`The selected page button is: ${value}`)
      this.pageByLetter = true
      if (value == '#') {
        value = '[0-9]'
      }
      this.currentLetter = value
      this.$store.loading = true
      this.$http.get(`/api/venders/letter/${value}/1`)
      .then(function(res) {
        this.venders = res.body
        this.$store.loading = false
      })
    },
    addVender: function (name) {
      if(name){
        this.$router.push({name: 'venderAdd', query: {name: name}})
      }else {
        this.$router.push({name: 'venderAdd'})
      }

    },
    previous: function() {
      let prevPage = +this.venders.page - 1
      if (prevPage == 0) {
        return
      } else {
        if(this.pageByLetter){
          this.$http.get(`/api/venders/letter/${this.currentLetter}/${prevPage}`)
          .then(function(res) {
            this.venders = res.body
          })
        } else {
          this.$http.get(`/api/venders/page/${prevPage}`)
          .then(function(res) {
            this.venders = res.body
          })
        }
      }
    },
    next: function () {
      let nextPage = +this.venders.page + 1
      if(this.pageByLetter){
        this.$http.get(`/api/venders/letter/${this.currentLetter}/${nextPage}`)
        .then(function(res) {
          this.venders = res.body
        })
      } else {
        this.$http.get(`/api/venders/page/${nextPage}`)
        .then(function(res) {
          this.venders = res.body
        })
      }
    }
  },
  created: function () {
    this.getVenders()
    this.getAllVenders()
    if (this.showAlert == true){
      console.log("show alert is true... calling timeout func")
      let myThis = this
      setTimeout(function(){
        console.log("anonymous func called after 3500ms")
        myThis.$store.showAlertMsg = ""
        myThis.$store.showAlert = false
      }, 3500)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

li.active a {
  color: #FFF;
  text-decoration: none;
}

</style>
