<template>
  <div id="app" class="content">
    <router-view></router-view>
  </div>
</template>

<script>

export default {

    name: 'app',
  }
</script>



<style>

@media screen and (-webkit-min-device-pixel-ratio:0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
    background: #eee;
  }
}


</style>
