<template>
<div class="attachResource">
  <button class="btn btn-default" @click.prevent="openModal"><i class="fa fa-plus"></i>Attach new resource</button>

  <modal v-model="showResourceModal" effect="fade" :large="true">
    <!-- custom header -->
    <div slot="modal-header" class="modal-header">
      <h4 class="modal-title">
          Attach New Resource
        </h4>
    </div>
    <div slot="modal-body" class="modal-body">
      <h4>
        <div v-show="!showSummery">
          <span>Attach a new or existing resouce:</span><br/>
          <small>Start typing in the name field. If the resource already exists, select it from the results shown. If not, you cn add a new resource.</small>
        </div>
      </h4>

      <form class="form" id="attachResourceFrm">
        <div class="form-group" v-show="!showSummery">
          <label class="control-label">Name</label>
          <!--<input type="text" class="form-control" v-model="resource.name">-->
          <autocomplete :options="allResources" @select="onResourceSelected" @noSelection="noExisitng" class="autocomplete"></autocomplete>
        </div>
        <div v-show="addNew">
          <div class="form-group">
            <label class="control-label">Description</label>
            <textarea v-model="resource.description" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label class="control-label">Notes</label>
            <input type="text" class="form-control" v-model="resource.notes">
          </div>
          <div class="form-group">
            <label class="control-label">Type</label>
            <select class="form-control" v-model="resource.type">
              <option v-for="type of resourceTypes" v-bind:value="type._id">{{type.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label class="control-label">RTO</label>
            <select class="form-control" v-model="resource.RTO">
              <option v-for="rto in rtoValues" v-bind:value="rto._id">{{rto.name}} - {{rto.RTO}} {{rto.RTOTimeValueType}}</option>
            </select>
          </div>

          <div class="form-group">
            <label class="ccontrol-label">RPO</label>
            <input type="text" class="form-control" v-model="resource.RPO" placeholder="eg. 24 Hours">
          </div>
          <div class="form-group">
            <strong>DR Test Required?</strong><br />
            <label class="radio-inline btn btn-default" :class="{ active: resource.DRTestRequired == true }">
              <input type="radio" v-model="resource.DRTestRequired" value="true">Yes</input>
            </label>
            <label class="radio-inline btn btn-default" :class="{ active: resource.DRTestRequired == false }">
              <input type="radio" v-model="resource.DRTestRequired" value="false">No</input>
            </label>
          </div>
        </div>
      </form>
      <div v-show="showSummery">
        <b>Resource to attach:</b> <br>
        Name: {{resource.name}} <br/>
        Description: {{resource.description}}
      </div>

    </div>
    <!-- custom buttons -->
    <div slot="modal-footer" class="modal-footer">
      <button type="button" class="btn btn-default" @click="cancel">Cancel</button>
      <button type="button" class="btn btn-success" @click="attachResource" :disabled="attachBtn"><i class="fa fa-disk-o"></i> Attach Resource</button>
    </div>
  </modal>
  <!-- End deleteVenderConfirm -->
</div>
</template>

<script>
import {
  modal
} from 'vue-strap'
import autocomplete from '../mycomponents/autocomplete.vue'

export default {
  name: 'attachResource',
  components: {
    autocomplete,
    modal
  },
  props: {
    intValue: {
      type: String,
      required: false
    }
  },
  data() {
    return {
      showResourceModal: false,
      showSummery: false,
      resource: {
        name: "",
        description: "",
        notes: "",
        DRTestRequired: false,
        type: "",
        RTO: "",
        RPO: ""
      },
      allResources: [],
      addNew: false,
      rtoValues: [],
      resourceTypes: [],
      attachBtn: true
    }
  },
  computed: {},
  methods: {
    attachResource() {
      this.showResourceModal = false
      if(!this.addNew){
        this.$emit('attach', this.resource)
      } else {
        //add the new resource and then send it back to the calling view
        this.$http.post('/api/resource', this.resource)
        .then(function(res){
          this.$emit('attach', res.body)
        })
      }
    },
    openModal () {
      this.showResourceModal = true
    },
    getAllResources: function () {
      this.$http.get('/api/resources/all')
      .then(function(res) {
        this.allResources = res.body
      })
    },
    getRTOValues: function () {
      this.$http.get('/api/resources/rtovalues')
      .then(function (res){
        this.rtoValues = res.body
      })
    },
    getResourceTypes: function () {
      this.$http.get('/api/resources/types')
      .then(function (res){
        this.resourceTypes = res.body
      })
    },
    onResourceSelected (val) {
      console.log(`resource selected`)
      let self = this
      this.$http.get(`/api/resource/${val._id}`)
      .then(function (res) {
        //console.log("resource returned. res:")
        console.log(res)
        self.resource._id = res.body._id
        self.resource.name = res.body.name
        self.resource.description = res.body.description
        self.resource.notes = res.body.notes
        self.resource.type = res.body.type
        self.resource.RTO = res.body.RTO
        self.resource.RPO = res.body.RPO
        self.resource.DRTestRequired = res.body.DRTestRequired
      })
      this.selectedResource = val._id
      this.showSummery = true
      this.attachBtn = false
    },
    noExisitng (val) {
      console.log(`No Selection: Current name value: ${val}`)
      this.resource.name = val
      this.addNew = true
      this.attachBtn = false
    },
    cancel () {
      this.showResourceModal = false
      this.addNew = false
      this.showSummery = false
      this.attachBtn = true
      this.resource = {
        name: "",
        description: "",
        notes: "",
        DRTestRequired: false,
        type: "",
        RTO: "",
        RPO: ""
      }
    }
  },
  created () {
    this.getAllResources()
    this.getRTOValues()
    this.getResourceTypes()
  }
}
</script>

<style scoped>
.form-group {
  margin-left: 6px;
  margin-right: 6px;
}
.autocomplete {
  margin-left: 14px;
  margin-right: 14px;
}
</style>
