<template>
  <div class="autocomplete-input">
    <div class="form-group">
      <input class="form-control" v-model="keyword" placeholder="search..."
        @input="onInput($event.target.value)"
        @keyup.esc="isOpen = false"
        @blur="blurred"
        @keydown.down="moveDown"
        @keydown.up="moveUp"
        @keydown.enter.prevent="select"
      />
    </div>
    <ul class="options-list" v-show="isOpen">
      <li v-for="(option, index) in fOptions"
        :class="{'highlighted': index === highlightedPosition}"
        @mouseenter="highlightedPosition = index"
        @mousedown.prevent="select"
      >
        <strong>{{option.name}}</strong><span v-if="option.description"><br><small>{{option.description}}</small></span>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  name: 'autocomplete',
  props: {
    options: {
      type: Array,
      required: true
    },
    intValue: {
      type: String,
      required: false
    },
    clearValueAfterSelect: {
      type: Boolean,
      required: false
    }
  },
  data () {
    return {  
      isOpen: false,
      keyword: this.intValue,
      highlightedPosition: 0
    }
  },
  computed: {
    fOptions () {
      const re = new RegExp(this.keyword, 'i')
      //return this.options.filter(o => o.name.match(re))

      let filteredOptions = this.options.filter(function(option) {
        return option.name.match(re)
      })

      if(filteredOptions.length < 1){
        let noMatch = { _id: "1111", name: "No Match Found", description: `Select here to add a new item for '${this.keyword}'`}
        filteredOptions.push(noMatch)
        return filteredOptions
      } else {
        return filteredOptions
      }
    }
  },
  created () {
    //console.log(`created...setting keyword to intValue of: ${this.intValue}`)
  },
  methods: {
    onInput (value) {
      if (value.length > 1){
        this.isOpen = !!value
        this.highlightedPosition = 0
      } else if (value.length < 2) {
        this.isOpen = false
      }
    },
    blurred () {
      this.isOpen = false
      if(this.fOptions.length < 1) {
        this.$emit('noSelection', this.keyword)
      }
    },
    moveDown () {
      if (!this.isOpen) {
        return
      }
      this.highlightedPosition =
        (this.highlightedPosition + 1) % this.fOptions.length
    },
    moveUp () {
      if (!this.isOpen) {
        return
      }
      this.highlightedPosition = this.highlightedPosition - 1 < 0
        ? this.fOptions.length - 1
        : this.highlightedPosition - 1
    },
    select () {
      const selectedOption = this.fOptions[this.highlightedPosition]

      if(selectedOption._id == "1111"){
        this.isOpen = false
        this.$emit('noSelection', this.keyword)
      } else {
        this.keyword = selectedOption.name
        this.isOpen = false
        this.$emit('select', selectedOption)
        if(this.clearValueAfterSelect == true){
          this.keyword = ""
        }
      }

    }
  }
}
</script>

<style scoped>

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  .autocomplete-input {
    position: relative;
  }

  ul.options-list {
    margin-top: -12px;
    border: 1px solid #dbdbdb;
    border-radius: 0 0 3px 3px;
    position: absolute;
    z-index: 1000;
    width: 100%;
    overflow: hidden;
  }

  ul.options-list li {
    width: 100%;
    height: auto;
    background: white;
    margin: 0;
    border-bottom: 1px solid #eee;
    color: #363636;
    padding: 7px;
    cursor: pointer;
  }

  ul.options-list li.highlighted {
    background: #A6CEDE
  }
</style>
