<template>
  <!--
  <ul class="pagination">
    <li v-for="btn in btnArray"><a href="#" @click.prevent="select(btn)">{{btn}}</a></li>
  </ul>
  -->
  <table class="table">
    <tr>
      <td v-for="btn in btnArray" :id="btn">
        <a href="#" @click.prevent="select(btn)">{{btn}}</a>
      </td>
    </tr>
  </table>

</template>

<script>

export default {
  name: 'paginate',
  props: {
    totalPages: { type: Number, default: 5 },
    query: ""
  },
  data () {
    return {
      currentPage : 1,
      btnArray : [],
      currentSelectedId: null
    }
  },
  created () {
    this.createBtnArray()
  },
  methods: {
    createBtnArray: function () {
      let buttons = []
      for(let char of '#ABCDEFGHIJKLMNOPQRSTUVWXYZ') {
        buttons.push(char)
        this.btnArray = buttons
      }
    },
    select (val) {
      let thisTd = document.getElementById(val)
      if(this.currentSelectedId) {
        document.getElementById(this.currentSelectedId).classList.remove('blueCell')
      }
      this.currentSelectedId = val
      thisTd.classList.add('blueCell')
      this.$emit('pageSelect', val)
    }
  }

}
</script>

<style scoped>
.pagination {
  width: auto;
}
.blueCell {
  background-color: #D9EDF7;
  font-weight: bold;
}
.table {
  width: 100%;
}
.table > tr > td {
  width: 3.7037%;
  text-align: center;
}

</style>
