<template>
  <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in to continue</h1>
            <div class="account-wall">
              <h1><div class="text-center"><i class="wi wi-tornado"></i> Mayhem</div></h1>
              <form class="form-signin">
                <input v-model="user.email" type="text" class="form-control" placeholder="Email" required autofocus>
                <input v-model="user.password" type="password" class="form-control" placeholder="Password" required>
                <button @click.prevent="login" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
              </form>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import alertify from 'alertify.js'

export default {
  name: 'login',
  data () {
    return {
      msg: 'Welcome to Codename: Mayhem',
      user: {
        email: "",
        password: ""
      }
    }
  },
  methods: {
    login: function () {
      this.user.email = this.user.email.toLowerCase()
      this.$http.post('/api/auth', this.user)
        .then(function (res) {
          this.$toasted.success(`Login Successful`, {duration: 3500})
          this.$setToken(res.body.token, Date.now() + 21600000) //Token valid for 6 hours
          let myToken = this.$getToken()
          this.$router.push('/newsfeed')
        })
        .catch(function (res) {
          console.log(res.body)
          this.$toasted.error(`Login Failed. Check your credentials.`, {duration: 3500})
        })
    
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}

</style>
